{% extends "admin/change_list.html" %}
{% block object-tools-items %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    window.onload=function() {

        $('.order_pipe').click(function() {
            var allElems = $(this).parent().parent().children();
            order_id = allElems[1].innerText;
            // this opens a new window for the download of the private resource.
            window.open("/v1.0/open/generate/bse/order/pipe/?order_id="+order_id);
        });

        $('.xsip_registration').click(function() {
            var allElems = $(this).parent().parent().children();
            order_id = allElems[1].innerText;
            // this opens a new window for the download of the private resource.
            window.open("/v1.0/open/generate/xsip/registration/?order_id="+order_id);
        });

        $('.bank_mandate').click(function() {
            var allElems = $(this).parent().parent().children();
            order_id = allElems[1].innerText;
            // this opens a new window for the download of the private resource.
            window.open("/v1.0/open/generate/bank/mandate/?order_id="+order_id);
        });
        
        $('.send_transaction_complete_mail').click(function() {
        	var allElems = $(this).parent().parent().children();
            order_id = allElems[1].innerText;
            window.open("/v2.0/core/transaction/complete/?order_id="+order_id);
        });
    }
</script>

{{ block.super }}
<li><a href="#">Online users:{{ active_user }} </a></li>
{% endblock %}
