<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load i18n %}
<head>
    <title>
        {{ title }}
    </title>
    <meta charset="utf-8" />
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br />
<div class="media">
  <div class="media-left">
    <a href="{{ domain }}">
<img align="left" src="{{ domain }}/static/images/footerlogo.png" alt="logo" height="55" width="225">
    </a>
  </div>
</div>
<br />
    {% block content_title %}<h3>{{ title }}</h3>{% endblock %}
{% block content %}
    <br />
{% if validlink %}

<div class="panel panel-default finaskus-reset-container">
  <div class="panel-heading">{% trans "Please enter your new password twice so we can verify you typed it in correctly. Minimum length of 8 chars, alphanumeric (atleast 1 digit, 1 alphabet mandatory) also allows optional special characters."%}
  {% if form.new_password1.errors %}<p>{% trans 'New password:' %}{{ form.new_password1.errors }}{% endif %}{% if form.new_password2.errors %}<p>{% trans 'Confirm password:' %}
      {{ form.new_password2.errors }}{% endif %}
  </div>
  <div class="panel-body">
      <div class="container">
    <form method="post">{% csrf_token %}
<p><label for="id_new_password">{% trans 'New password:' %}</label><br /><span id="id_new_password">{{ form.new_password1 }}</span><span class="glyphicon glyphicon-remove" id="pwd_span" style="display:none;left:7px;"></span></p>
<p><label for="id_new_password_repeat">{% trans 'Confirm password:' %}</label><br /><span id="id_new_password_repeat">{{ form.new_password2 }}</span><span class="glyphicon glyphicon-remove" id="repeat_span" style="display:none;left:7px;"></span></p>
<p><button id="submitter" type="submit" class="btn btn-success" disabled>{% trans 'Change my password' %}</button></p>
</form>
          </div>
  </div>
</div>


{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
</div>
<!-- all the javascript goes below this -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script>

    window.onload=function(){
        
        pwd_box = document.getElementById("id_new_password1");
        repeat_box = document.getElementById("id_new_password2");
        submitter = document.getElementById("submitter")
        pwd_box_flag = false;
        repeat_box_flag =  false;
        pwd_span = document.getElementById("pwd_span");
        repeat_span = document.getElementById("repeat_span");
        regex_error_text = "Minimum length of 8 chars with atleast 1 alphabet and 1 digit. Optional special characters are allowed. ";
        password_non_match_text = "The passwords did not match";

        function disableBtn() {
                submitter.disabled = true;
            }

        function enableBtn() {
            submitter.disabled = false;
        }

        function glyph_setter(elem,result)
        {
            if(result)
            {
                elem.className="glyphicon glyphicon-ok"

            }
            else
            {
                elem.className="glyphicon glyphicon-remove"
                disableBtn();

            }
            elem.style.display="inline";
        }

        function regex_checker(pass,elem)
        {
            // compulsory alphanumeric and allows optional special characters.
            var regex = /^[\W_]*?(?=.*[0-9])(?=.*[a-zA-Z])[\w\d\W_]{6,}$/i ;
            result = regex.test(pass);
            glyph_setter(elem,result);
            return result;
        }
        
                
        function check_flags()
        {
            
            condition = pwd_box_flag&&repeat_box_flag;

            if( condition )
                enableBtn();
            else
                disableBtn();
        }
        
        pwd_box.onchange = function(){

            
            
            if( regex_checker(pwd_box.value,pwd_span) )
                pwd_box_flag = true;

            check_flags();
        }
        
        repeat_box.onkeyup = function(){

            if( pwd_box.value===repeat_box.value )
            {    repeat_box_flag = true;
                 glyph_setter(repeat_span,true);
            }
            else
            {
                repeat_box_flag = false;
                glyph_setter(repeat_span,false);
             }
            check_flags();

        }
    
    }
</script>
</body>
</html>
