<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
  {% load i18n %}
  <head>
    <title>
       Password Reset
    </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <br />
      <div class="media">
        <div class="media-left">
          <a href="{{ domain }}">
            <img align="left" src="{{ domain }}/static/images/footerlogo.png" alt="logo" height="55" width="225">
          </a>
        </div>
      </div>
      <br/>
      {% if email %}
        <h4> Dear {{ email }}, </h4>
        <br>
        <h4>Your password has been successfully reset.</h4>
        <br />
        <h4>Additionally, if you did not verify your email earlier then it has been verified now (please ignore if already verified).</h4>
      <br>
      <h4>Thank you</h4>
      <h4>FinAskus Support</h4>
      <h4>Email: askus@finaskus.com</h4>
      {% else %}
        <h2> Your session has expired.</h2>
        <br/><br/><br/><br/>
      {% endif %}
      </div>
      <br>
      <br><br>
      <div class="container" style="position: fixed; bottom: 15px">
        <hr color="blue">
        <table width="100%">
            <tr>
                <td align="center"><a href="https://www.finaskus.com/">Home</a></td>
                <td align="center"><a href="https://www.finaskus.com/terms/">Terms & Conditions</a> </td>
                <td align="center"><a href="https://www.finaskus.com/aboutus">About</a></td>
            </tr>
        </table>
        <br>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
