<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img align="left" src="{{ protocol }}://{{ domain }}/static/images/footerlogo.png" alt="logo" height="55" width="225">
<br><br><br>
<br><br><br>
<p align="left">
    Dear {{ user_email }},
    <br><br>
    You're receiving this email because you requested a change in your registered phone number. 
    <br><br>
    &nbsp; &nbsp;Your old phone number was: xxxxx{{previous_number}}.
    <br><br>
    &nbsp; &nbsp;Your new phone number is: xxxxx{{new_number}}.
    <br><br>
    Please contact us if you did not request this change.
    <br>
    Note that the phone number in your investor profile would not be changed automatically, you can contact us by email if you want to change that too.
    <br><br>
    Thank you<br>
    FinAskus Support<br><br>
    Email: askus@finaskus.com
    <br><br>
</p>

<hr color="blue">
<br><br>
<table width="100%">
    <tr>
        <td align="center"><a href="https://www.finaskus.com/">Home</a></td>
        <td align="center"><a href="https://www.finaskus.com/terms/">Terms & Conditions</a> </td>
        <td align="center"><a href="https://www.finaskus.com/">About</a></td>
    </tr>
</table>
<br><br><br>

</body>
</html>
