{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}">
</head>
<body>
  <img src="/static/images/headerlogo.png" class="banner_image" />
  <div class="logo">
  </div>
  <div class="wrapper row2">
    <div id="container" class="clear">
      <section id="fof" class="clear">
        <div class="hgroup">
          <h1>Something Just Went Wrong !</h1>
          <h2>404 Error</h2>
        </div>
        <p>For some reason the page you requested could not be found on our server</p>
      </section>
    </div>
  </div>
</body>
</html>