{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/404.css' %}">
</head>
<body>
  <a href='/'> <img src="/static/images/headerlogo.png" class="banner_image" /> </a>
  <div class="logo">
  </div>
  <div class="wrapper row2">
    <div id="container" class="clear">
      <section id="fof" class="clear">
        <div class="hgroup">
          <h1>Looks like something went wrong!</h1>
          <h2>500 Error</h2>
        </div>
        <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try refreshing.</p>
      </section>
    </div>
  </div>
</body>
</html>