{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Finaskus</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name ="description" content=""/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name = "keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans Pro:200,300,400,600,700,900' rel='stylesheet'
			  type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
	
		<div class="p_logo">
			<img src="{% static 'images/headerlogo.png' %}" class="logo_img"/>
		</div>
		<div class="p_border">
		</div>
		<p class="p_title">Disclaimer</p>

		<div class="p_container">
			<p class="p_text">
				Finaskus Technologies Private Limited owns the brand Finaskus, and is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No. ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). 
			</p>
			<p class="p_text">
				Finaskus makes no warranties or representations, express or implied, on products offered through the
				platform. It accepts no liability for any damages or losses, however caused, in connection with the
				use of, or on the reliance of its product or related services other than those, if any, explicitly
				stated. <a href="{% static '/terms/' %}">Terms and Conditions</a> and <a
					href="{% static '/privacy/' %}">Privacy Policy </a>of Finaskus shall always apply.
			</p>
			<p class="p_text">
				The selection of recommended funds by Finaskus is not influenced by the commission earned by it, or by any other incentives. These funds have been listed without any bias, after considering and determining various factors, including, but not limited to, quantitative and qualitative measures, and to the best of its ability, by Finaskus and all its employees and related individuals.
			</p>
			<p class="p_text">
				Mutual fund investments are subject to market risks. Please read the scheme information and other related documents carefully investing. Past performance is not an indicative of future returns. Please consider your specific investment requirements before choosing a fund, or designing a portfolio that suits your needs.
			</p>
		</div>

		<div class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="{% static 'images/footerlogo.png' %}" class="footerlogo" />
					<div>
						<img src="{% static 'images/app_store.png' %}" class="bottom_img" />
						<img src="{% static 'images/google_play.png' %}" class="bottom_img"/>
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
					<div class="address">
						<div class="address_icon">
							<img src="{% static 'images/registered_address_icon.png' %}" />
						</div>
						<div class="address_text">
							<span class="contact_subtitle">Registered address:</span>
							<p class="text">C-1002, Mantri Espana</p>
							<p class="text">Kariyamma Agrahara</p>
							<p class="text">Marathalli Outer Ring Road</p>
							<p class="text">Bengaluru 560103</p>
						</div>
					</div>
					<div class="call_email">
						<div class="call_email_row">
							<img src="{% static 'images/call_us_on_icon.png' %}" class="call_email_img" />
							<span class="contact_subtitle">Call us on:</span>
							<span class="text">+91 80 42030433</span>
						</div>
						<div>
							<img src="{% static 'images/email_us_at_icon.png' %}" class="call_email_img" />
								<span class="contact_subtitle">Email us at:</span>
								<span class="text">askus@finaskus.com</span>
						</div>
					</div>
					</div>

				</div>
			</div>
	
			<div class="footer2">
				<a href="#" class="rights">All Rights Reserved</a>
				<a href="{% static '/terms/' %}" class="terms">Terms & Conditions</a>
				<a href="{% static '/privacy/' %}" class="terms">Privacy Policy</a>
				<a href="{% static '/disclaimer/' %}">Disclaimer</a>
			</div>	
		
			<div class="footer3">
				<p class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms & Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</p>
			</div>
		</div>
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79265201-1', 'auto');
  ga('send', 'pageview');

</script>
</html>

