{% load staticfiles %}
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<title>FinAskus &#45 FAQ</title>
		
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://www.finaskus.com/static/css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!--<link rel="stylesheet" type="text/css" href="https://www.finaskus.com/static/css/main.css"> -->
		<link rel="icon" href="{% static 'images/fav-icon.png' %}" sizes="16*16" type="image/png">

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	</head>
	<body>
	
	


		<div class="p_logo">
		   <a href="https://www.finaskus.com"><img src="https://www.finaskus.com/static/images/headerlogo.png" class="logo_img">
	           </a>	
		</div>
		<!-- Navigation -->
<nav class="navbar-white nav">
  <div class="container-fluid2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Finaskus</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-white nav navbar-nav navbar-right">
   
        		 <li class="navbar-white"><a href="https://www.finaskus.com/#why-finaskus" class="terms">Why FinAskus</a></li>
				 <li class="navbar-white"><a href="https://www.finaskus.com/#how-it-works" class="terms">How It Works</a></li>
        		 <li class="navbar-white"><a href="https://www.finaskus.com/aboutus/" class="active">About Us</a></li>
				 <li class="navbar-white"><a href="https://www.finaskus.com/blog/" class="terms">Resource Center</a></li>
				 <li class="navbar-white"><a href="https://www.finaskus.com/faq/" class="terms">FAQ</a></li>				
				 <li class="navbar-white"><a href="https://www.finaskus.com/#contactus" class="terms">Contact Us</a></li>

      </ul>  
    </div>
  </div>
</nav>
  
	
		<div>
			<img src="https://www.finaskus.com/static/images/faq-finaskus-mutual-funds.png" class="bannerimage">
		</div>
		
		<p class="p_title">FAQ</p>
		<p class="update"> </p>

		<div class="p_container">
			
				
		<details open>
        	<summary class="p_subtitle"> Making Smart Investing Simple &#45 How it Works</summary>
        	
        	<ul class="p_inside_text cardlayout ">
        		<details close>
					<summary class="faq_inside_title "> How does FinAskus help me invest smartly?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" ><br> FinAskus blends expertise in financial advice with technology to create an

intelligent analytics-driven platform providing you end to end financial advisory services free of cost 24X7. With FinAskus, your investments are
handled smartly by understanding your behavior towards risk, setting up
specific financial goals based on a scientific approach, identifying high
performing mutual backed by thorough research, making super quick

paperless registration / KYC as well as payments / redemptions, and getting
access to monitor and track your portfolio 24x7 at the touch of a screen! </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How does FinAskus make it simple for me?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq" ><br>
We have automated the entire process of intelligently investing in mutual

funds, and bring it to you as an engaging mobile App with a highly intuitive

and interactive interface that is easy to understand and navigate. Not only

can you start investing in mutual funds within five minutes (now no need to

fill and sign countless paper forms), you can also keep track of your

investments at all times by simply looking at your &#39Dashboard&#39.
					 		</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> Where will FinAskus invest my money?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
FinAskus will invest your money in a basket of high-performing mutual funds schemes from top AMCs (Asset Management Companies). The basket of
schemes is personalized for you depending on your financial profile and our research of scheme performance. These investments are made in your name
and the details are always available in your FinAskus account as well as with the AMCs.
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	     <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title">  What is a mutual fund? How does it grow wealth?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
A mutual fund is an investment fund managed by professionals, created by a
pool of money from a large number of investors just like you, who wish to
save or make money. Investors can invest or add more money as well as
redeem or withdraw money whenever they want. Each scheme&#39;s
investments are chosen and monitored by qualified professionals who use
this money to create a portfolio consisting of equity stocks, interest bearing
bonds or a combination of the two.
<br><br>
Investing in a mutual fund is a lot easier than buying and selling individual
stocks and bonds on your own to grow your money and create wealth.
There are several benefits of investing through a mutual fund:
					<br><br>
<strong>1. Professional Investment Management: </strong>Mutual funds have high-
caliber investment professionals with real-time access to crucial
market information and are able to execute timely trades on the
largest and most cost-effective scale.
<br><br>
<strong>2. Diversification:</strong> Mutual funds invest in a broad range of securities
(stocks/bonds) limiting investment risk by reducing the effect of a
possible decline in the value of any one security.


<br><br>

 <strong> 3. Low Cost: </strong> A mutual fund lets you participate in a diversified
portfolio for as little as Rs 500/-.

<br><br>

<strong>4. Liquidity and Transparency:</strong> You can get your money back promptly
at net asset value related prices from the mutual fund itself. You get
regular information on the value of your investment in addition to
disclosure on the specific investments made by the mutual fund
scheme

</li>
</ul>
</p>


		 	 </ol>
		 	</ul>
		 	
		 	 <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How are mutual funds different from other investment options?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
<strong>1. Mutual Funds compared to Fixed Deposit</strong>: <br>Compared to Fixed Deposits,
Mutual Fund schemes have historically provided better returns, with higher
liquidity and greater tax efficiency. Mutual fund returns are however
affected by market volatility, though active management of schemes by
professionals allows for an overall higher return profile in the longer term.

<br><br>

<strong>2. Mutual Funds compared to Equity Stocks:</strong> Direct investment in Equity

Stocks by retail investors can be quite risky, as well as often lacks

appropriate diversification and/or liquidity. It can be cumbersome and more

dependent on market volatility compared to well performing mutual funds.

<br><br>
<strong>3. Mutual Fund compared to Life Insurance:</strong> Life insurance is primarily
a protection plan to ensure your beneficiaries&#39 wellbeing in case of
unforeseen events in your life versus Mutual Funds which provides an
avenue to actively manage your investments and grow them. Due to above
typically life insurance offers lower liquidity and lower returns compared to
mutual funds.

</p>

		    	</ol>
		 		</ul>
			   	  </details>
     	   </ul>
     	  
     	  
     	  
     	   <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do mutual funds generate higher returns than Fixed Deposits in the longer term?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
Mutual funds can outperform the fixed deposits in the longer term due to
diversification in different asset classes including equity stocks at a large
scale. It is well known that long term returns from overall securities markets
are higher than fixed deposits after adjusting for risk.<br><br> However, it costs a lot
to an individual investor to create a diversified portfolio of different stocks
and bonds to reduce risk. Mutual Fund are able to do this easily due to
pooling of resources allowing investor to access lower risk diversified
portfolio coupled with professional managers committed to protecting and
growing their savings..
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	    
     	    
     	     <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do actively managed funds generate higher returns than Exchange Traded Funds (ETFs) in the longer term?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
Exchange Traded Funds are essentially Index Funds that are listed and

traded on exchanges like stocks. An ETF is a basket of stocks that reflects the

composition of an Index, like CNX Nifty 50. In India multiple actively

managed funds have consistently out-performed Indexes (and ETFs).
<br><br> 

primarily because actively managed funds are able to identify and invest in
those stocks from the index which are better-performing, while staying
away from those stocks that are underperforming. This active management
by professionals allows for greater returns from the same markets. Also,
professional are better at picking mid-sized stocks with high growth
potential which are not part of the Index and hence cannot contribute to an
ETF, which are typically made up of large companies only.
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title">Can I invest in &#39Direct&#39 mutual fund schemes through FinAskus?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
Currently FinAskus allows for investments only in the &#39Regular&#39 mutual fund

schemes.
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>     
     	   
     	   
     	   
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title">Does FinAskus charge anything to the user for the advice?</summary>

					<ul class="p_inside_text p_ulist">
					 	<ol>
					 		<p class="p_text_faq"><br> 
The short answer is NO. All advice we provide to our users on goal-based planning and scheme recommendations is absolutely free of cost at this point.</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>     	   
     	   
     	   	   
</details>
     	         
        
</details>
		
		<details open>
        	<summary class="p_subtitle"> Account Management</summary>
        	
        	<ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What do I need to invest through FinAskus?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
									You need to be an Individual investor, an Indian resident and have a valid PAN card to invest through FinAskus.
					 		</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I get started?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
You can get started in three simple steps: <br>

<strong> Step 1: </strong> You can first assess your risk profile and then sign-up using

your phone number and Email, or sign-up first and then complete

your risk profiling. <br><br>

<strong>  Step 2: </strong>  After signing-in, you can first define your goals and finalize

your mutual fund schemes portfolio, and then complete a one-time

investor registration process by providing pictures of your PAN card,

cheque leaf and address proof before making an investment.

Otherwise you can also complete the one-time registration process

first and then continue with defining your goals and finalizing your

mutual fund schemes portfolio.
 <br><br>
<strong> Step 3: </strong> Post that you only need to confirm the investment and

monitor those at the touch of a screen while we take care of all

operations, reporting and timely advice on your portfolio!					 		</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What is the sign-up process?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >You can easily sign-up with FinAskus using your mobile number (to be
validated through OTP), and Email address (with verification through email link which can also be done later). </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title">What is Investor Registration?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		As per SEBI (Securities and Exchange Board of India) and AMC (Asset Management Company) regulations, a simple one-time registration process
is required to begin investing, for which you only need to provide a few details and pictures of your PAN card, bank cheque leaf, and address proof
(if necessary, based on your KYC status) before your account is activated and you can start investing.

 </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	   
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What documents are required before I can begin investing with FinAskus?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >If you are KYC (Know Your Client) status is updated, then you only need to
provide some basic info about yourself along with pictures of your PAN card
and bank cheque leaf. If your KYC status in not updated / verified, then you
additionally need to provide your selfie image, address proof and a selfie
video to complete your KYC registration, apart from the other requirements.
 </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	   
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What is KYC, do I need a KYC verification? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		SEBI (Securities and Exchange Board of India) requires all investors in mutual funds to be registered with KYC (Know Your Client) compliance. If you have
invested in mutual funds in the last few years, you should be already KYC-
compliant. However, if you are not KYC-compliant then we will get this done
on your behalf after you provide us with the additional information
necessary for the purpose (selfie image, address proof and a selfie video)
using a very simple paperless process.
 </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	   
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What is eIPV, why do I need to upload eIPV selfie video?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		eIPV stands for &#39electronic In-Person Verification&#39. As per SEBI (Securities and Exchange Board of India) regulations, the personal details of the investor
applying for KYC Registration (PAN, photograph, address proof) need to be
verified in person by the intermediary. When done online / digitally, such
verification is called eIPV. This can be done either over a pre-scheduled
video call between the investor applying for KYC registration and
intermediary using online means (like Skype), or through a brief selfie video
that they can click and upload on their own (clearly showing PAN and
address proof document). We are providing both options to our users, with the selfie video option being preferred as more seamless and convenient.

 </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> My KYC status is updated. How soon can I invest with FinAskus??</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq">
					 		
					 		With an updated KYC status, you can begin investing with us immediately by finalizing and confirming your order. </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What is FATCA? What declarations do I need to make for FATCA?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		
					 			FATCA stands for the Foreign Account Tax Compliance Act, a U.S. tax initiative that requires all financial Institutes (including Indian Mutual Funds) to report financial transactions of US persons including entities in which U.S. persons hold a substantial ownership, etc. to the relevant tax authorities.
								Investors are expected to provide details such as Country of Tax residence, Tax Identification Number from such country, Country of Birth, Country of Citizenship, etc. at the time of initial investment

 							</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What is a NACH mandate / bank mandate, why is it required?</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >You can easily sign-up with FinAskus using your mobile number (to be
validated through OTP), and Email address (with verification through email link which can also be done later). </p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> Can I close my FinAskus account anytime? What will happen to my investments?

				 	</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
									Yes. You can close your FinAskus account anytime. You can also choose to withdraw your money from your investments at that time, 
									else your investments will always be held in your name with the mutual fund and you can interact with them directly or
									choose to transfer those investments to another intermediary.
 							</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> I provided some account information incorrectly, how can I correct that??</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
								Please email us at <a href="mailto:askus@finaskus.com"> askus@finaksus.com</a> from your registered email address highlighting details that require correction. 
								We will get in touch with you as soon as possible and allow editing feature on your account that you can update yourself and confirm the changes.
								 We will then process your changes seamlessly at our end and with any other agencies as necessary.</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How can I change my login details (registered email / phone number)?
</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		
					 		You can change your registered email by following these steps:<br>
								1. Log into your FinAskus account <br>
								2. Go to Settings and click on Change Registered Email<br>
								3. Enter new Email and verify new Email <br>
								4. To change your phone number please email us at askus@finaskus.com <br>
 							</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     </details>
     <details open>
     
             	<summary class="p_subtitle"> Using FinAskus Android Mobile App</summary>
	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I complete the ASSESS RISK PROFILE step
</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
									You will be guided to answer six very simple questions in the mobile app, based on which we will 
									provide your Risk Assessment Score through our proprietary algorithm. That Risk Score will be used
									to advice your asset allocation recommendations in the context of your specific goals.
					 		 </p>
		 	   		
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I DEFINE FINANCIAL GOALS ?
					</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		
					 		<strong> 1 . </strong>You can set up any financial goal like Retirement / Tax Saving / Education etc. and our proprietary algorithm will assist 
					 		you with setting up that goal based on targeted amount and when you need the money (goal tenure). It will automatically 
					 		tell you what monthly investment in SIP (Systematic Investment Plan) is required to meet your goal based on expected growth
					 		values. You can also select any one-time investment value (Lumpsum), and your required SIP amount will be updated automatically.
 							<br><br>
 							<strong> 2 . </strong> You can also choose to &#39Simply Invest&#39 with your preferred SIP amount / tenure and/or a one-time Lumpsum investment.
 							<br><br>
 							<strong> 3 . </strong> We will advise you a preferred asset allocation between equity (stocks) and debt (interest bearing bonds), 
 							based on your Risk Score as well as the details of your goal. However, you can also edit your asset allocation as per your preference if you are sure about it
 							
 							</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I BUILD SMART PORTFOLIO of mutual fund schemes?
</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		
					 		<strong> Step1: </strong> You can select the option to &#39Build Schemes Portfolio&#39 after you have defined your financial goals. Once you select this, you will be shown a summary of your goals and your full-year investment profile.
<br><strong> Step 2: </strong> After this, you can choose to &#39Show Recommended Schemes, which will allocate specific mutual fund schemes for your chosen investment amounts. 
<br><strong> Step 3: </strong>You can click on any scheme name to see the Scheme Factsheet.
<br><strong> Step 4: </strong>You can see Past Performance of the recommended portfolio by selecting the link below &#45 it will show you exactly how this portfolio would have behaved if you chose to invest in it in the past.
<br><strong> Step 5: </strong>You can also Compare & Modify our advised scheme selection, within each asset class.
<br><strong> Step 6: </strong>To Compare, you can select up to 5 schemes and click on Compare to see comparison of historical performance as well as other relevant metrics.
<br><strong> Step 7: </strong>To Modify, you can Delete any scheme from the current list and Add any other from the options below, and select Save & Continue. Your recommended portfolio will get updated and the investment amounts will be reallocated with appropriate diversification.
<br><strong> Step 8: </strong>Once you are sure you have finalized your portfolio, you can click on Invest Now to proceed with your investments.

					 		
					 		</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	    <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I TRANSACT DIGITALLY in my selected portfolio of mutual fund schemes? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		1. You will need to complete a one-time Investor Registration process before you can invest through FinAskus. 
<br> 2. Once your registration is complete, you can Review your investment Cart and select Confirm and Pay to proceed further.
<br> 3. After confirmation, you can make the payment by Netbanking through a payment link you will receive in your registered email ID, which will have your bank account information pre-selected. This link will be valid till 9:30am the next business day. If you do not make the payment within this timeframe, the link will become invalid, and you should reach out to us by emailing on askus@finaskus.com and we will resend you a fresh link.
<br> 4. If you want to withdraw your invested money, you need to select the Redeem option within Transact Digitally and select any amount from any scheme, or select All Units to redeem the full amount from any scheme. Once you select to Confirm and Redeem, your request will be processed and the appropriate amount (after deductions of exit loads by the Asset Management Company, and/or taxes, if any) will be remitted to your registered bank account automatically with a few days
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	   <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I TRACK PERFORMANCE  for my Smart Portfolios? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		1.You can select this option either from the Side Menu or by selecting it on prompt that is shown after successful investor registration or after making an investment or redemption request.
<br> 2.You can see the details of your portfolio as well as your goals as a Virtual Portfolio till such time that you make actual investments. This Virtual Portfolio will be reset every time you change your goals / investment selection.
<br> 3.You can see the details of your actual portfolio in the dashboard once you make any investments with FinAskus. This portfolio will then record all your changes in your portfolio with complete transaction history.
<br> 4.You can also compare the performance of your own portfolio with that of other investors on the platform though the Leaderboard, You can also view Leader Profiles and Most Popular Schemes on the platform to gain better insights into well-performing portfolios / schemes.
<br> 
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	      	      
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How do I complete INVESTOR REGISTRATION ? 
					</summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		1.As per SEBI (Securities and Exchange Board of India) and AMC (Asset Management Company) regulations, a simple one-time registration process is required to begin investing, for which you only need to provide a few details and pictures of your PAN card, bank cheque leaf, and address proof (if necessary, based on your KYC status) before your account is activated and you can start investing.
<br>2.If you are KYC (Know Your Client) status is updated, then you only need to provide some basic info about yourself along with pictures of your PAN card and bank cheque leaf. If your KYC status in not updated / verified, then you additionally need to provide your selfie image, address proof and a selfie video to complete your KYC registration, apart from the other requirements.
<br>3.For more details, please refer to FAQs under Account Management
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	      
     	      
     	      
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How best can I leverage the RESOURCE CENTRE? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 				The Resource Centre you with (A) Articles covering relevant and contemporary topics that help you decide your investment needs and choices,
					 				 and (B) Mutual Fund Primer that cover the basic understanding and knowledge regarding how mutual funds work. Going through the appropriate sections / 
					 				 articles will help you make the right choice for yourself and also appreciate how FinAskus is making those choices correctly for you.
							</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	       
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title">How can I leverage  SUPPORT & FEEDBACK? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		1. You will need to complete a one-time Investor Registration process before you can invest through FinAskus. 
<br> 2. Once your registration is complete, you can Review your investment Cart and select Confirm and Pay to proceed further.
<br> 3. After confirmation, you can make the payment by Netbanking through a payment link you will receive in your registered email ID, which will have your bank account information pre-selected. This link will be valid till 9:30am the next business day. If you do not make the payment within this timeframe, the link will become invalid, and you should reach out to us by emailing on askus@finaskus.com and we will resend you a fresh link.
<br> 4. If you want to withdraw your invested money, you need to select the Redeem option within Transact Digitally and select any amount from any scheme, or select All Units to redeem the full amount from any scheme. Once you select to Confirm and Redeem, your request will be processed and the appropriate amount (after deductions of exit loads by the Asset Management Company, and/or taxes, if any) will be remitted to your registered bank account automatically with a few days
</p>
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	   
     	   
     	       
     	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What information ABOUT the FinAskus mobile app do I need to know? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		1. Please review our Terms & Conditions of use of mobile app and website.
<br> 2. Please review our Privacy Policy with regards to your data protection.
<br> 3. Please review the Disclaimer regarding the investment choices you make on our platform based on our advice.
<br> 4. You can view the Version info for the mobile app and update to the latest version on Google Playstore if not done already.

		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	      
     	      
     	        	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> How can I change my SETTINGS ? </summary>

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_faq" >
					 		You can select &#39Settings&#39 under the &#39Side Menu&#39 and change your registered Email ID / Password,
					 		 as well as Verify Registered Email ID / Mobile Number if not done already, and lastly you can 
					 		 Disable or Change your Security Pin by selecting the appropriate option
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	      
     	      
     	      
     	        	      <ul class="p_inside_text cardlayout">
        		<details close>
					<summary class="faq_inside_title"> What happens when I LOGOUT? </summary>

					<ul class="p_inside_text">
					 	<ol>
					 		<p class="p_text_faq" >
					 		For enhanced security of your personal and investment data, all your unsaved data stored on the app, including the financial / personal details as well as
					 		the Security PIN are erased. You can now login from any other device and all your stored data will still be available to you on your next login. 
		 	   			</ol>
		 	   		</ul>
		 	   	  </details>
     	   </ul>
     	      
     	      
     	      
     	      
</details>
		
		<p> 
<div class="share-buttons">
    
   <a href="http://www.facebook.com/sharer.php?u=https://finaskus.com/faq" target="_blank">
        <img src="https://www.finaskus.com/static/images/facebook_share_icon.png" alt="Facebook" />
    </a>
    
    <a href="https://twitter.com/share?url=https://finaskus.com/faq" target="_blank">
        <img src="https://www.finaskus.com/static/images/twitter_share_icon.png" alt="Twitter" />
    </a>
    
   <a href="mailto:?Subject=Check out this new app and get financial planning right&amp;Body=I%20came%20cross%20this%20and%20thought%20of%20sharing%20with%20you:%0A%20https://finaskus.com/faq%0A%0A%20Download%20FinAskus%20App%20on%20the%20Google%20Play%20Store%20to%20help%20you%20with%20your%20financial%20planning%20">
        <img src="https://www.finaskus.com/static/images/mail_share_icon.png" alt="Mail" />
    </a>
    <a data-text="Found this interesting article. Do have a read." data-link="http://finaskus.com/faq" class="whatsapp w3_whatsapp_btn w3_whatsapp_btn_large"><img src="https://www.finaskus.com/static/images/whatsapp-share-icon.png" alt="Whatsapp" /></a>

</div>
		
		<script>

$(document).ready(function() {

var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
 $(document).on("click", '.whatsapp', function() {
        if( isMobile.any() ) {

            var text = $(this).attr("data-text");
            var url = $(this).attr("data-link");
            var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
            var whatsapp_url = "whatsapp://send?text=" + message;
            window.location.href = whatsapp_url;
        } else {
            alert("Opps.Please share this article in mobile device");
        }

    });
});

</script>
    

	</div>
			

		<div class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="https://www.finaskus.com/static/images/footerlogo.png" class="footerlogo">
					<div>
						<img src="https://www.finaskus.com/static/images/app_store.png" class="bottom_img">
						<img src="https://www.finaskus.com/static/images/finaskus-app-google-play-badge_small.png" class="bottom_img">
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
						<div class="address">
							<div class="address_icon">
								<img src="https://www.finaskus.com/static/images/registered_address_icon.png">
							</div>
							<div class="address_text">
								<span class="contact_subtitle">Registered address:</span>
								<div class="text">C-1002, Mantri Espana</div>
								<div class="text">Kariyamma Agrahara</div>
								<div class="text">Marathalli Outer Ring Road</div>
								<div class="text">Bengaluru 560103</div>
							</div>
						</div>
						<div class="call_email">
							<div class="call_email_row">
								<img src="https://www.finaskus.com/static/images/call_us_on_icon.png" class="call_email_img">
								<span class="contact_subtitle">Call us on:</span>
								<span class="text">+91 80 95656777</span>
							</div>
							<div>
								<img src="https://www.finaskus.com/static/images/email_us_at_icon.png" class="call_email_img">
									<span class="contact_subtitle">Email us at:</span>
									<span class="text">askus@finaskus.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer2">
				<a href="https://www.finaskus.com/terms/#" class="rights">All Rights Reserved</a>
				<a href="https://www.finaskus.com/terms/" class="terms">Terms &amp; Conditions</a>
				<a href="https://www.finaskus.com/privacy/" class="terms">Privacy Policy</a>
				<a href="https://www.finaskus.com/disclaimer/">Disclaimer</a>
			</div>

			<div class="footer3">
				<p class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms &amp; Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</p>
			</div>
		</div>
	


</body></html>
