{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Finaskus</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name ="description" content=""/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name = "keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans Pro:200,300,400,600,700,900' rel='stylesheet'
			  type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
		<img src="{% static 'images/banner_phone.png' %}" class="banner_image" />
		<div class="banner">
			<div class="logo">
				<img src="{% static 'images/headerlogo.png' %}" class="logo_img"/>
			</div>
			<p class="launch">
				Launching Soon
			</p>
			<div class="input_container">
				<img src="{% static 'images/email_icon.png' %}" class="email_icon"/>
	    		<input type="text" placeholder="Email ID" class="input_email" id="input_email">
	    		<button class="notify"  onclick="send_email()">Notify Me</button>
			</div>
			<p class="contact">
	   			Email us at 
	   			<span class="contact_email">
	   				<a href="#">askus@finaskus.com</a>
	   			</span>
   			</p>
		</div>
		<p class="title">
			Why Finaskus?
		</p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-6 text-center">
					<div class="text-center img">
						<div class="inside_img">
							<img src="{% static 'images/simple_board_icon.png' %}">
						</div>
					</div>
					<p class="subtitle">
						Simple
					</p>
					<p class="text">
						Highly intuitive and interactive interface, easy to understand without financial jargon
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="{% static 'images/convenient_icon.png' %}">
						</div>
					</div>
					<p class="subtitle">
						Convenient
					</p>
					<p class="text">
						Completely paperless process at the convenience of a touch, carry your investments in your pocket
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="{% static 'images/intelligent.png' %}">
						</div>
					</div>
					<p class="subtitle">
						Intelligent
					</p>
					<p class="text">
						Comprehensive assessment and smart algorithm-based recommendations
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="{% static 'images/unbiased_icon.png' %}">
						</div>
					</div>
					<p class="subtitle">
						Unbiased
					</p>
					<p class="text">
						Do what is right for you, with complete transparency and comparisons
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="{% static 'images/bank_grade_security_icon.png' %}">
						</div>
					</div>
					<p class="subtitle">
						Bank grade security
					</p>
					<p class="text">
						Plan and transact in an ultra secure environment
					</p>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="{% static 'images/free_tag_icon.png' %}">
						</div>
					</div>
					<p class="subtitle">
						Expert advice for free
					</p>
					<p class="text">
						Pay nothing for the expert advice and convenience
					</p>
				</div>
			</div>
		</div>
		
		<div class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="{% static 'images/footerlogo.png' %}" class="footerlogo" />
					<div>
						<img src="{% static 'images/app_store.png' %}" class="bottom_img" />
						<img src="{% static 'images/google_play.png' %}" class="bottom_img"/>
						<table width="135" border="0" cellpadding="2" cellspacing="0"
							   title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications."
								class="bottom_img">
							<tr>
							<td width="135" align="center" valign="top">
							<script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.finaskus.com&amp;size=M&amp;lang=en"></script>
							<br />
							<a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
					<div class="address">
						<div class="address_icon">
							<img src="{% static 'images/registered_address_icon.png' %}" />
						</div>
						<div class="address_text">
							<span class="contact_subtitle">Registered address:</span>
							<p class="text">C-1002, Mantri Espana</p>
							<p class="text">Kariyamma Agrahara</p>
							<p class="text">Marathalli Outer Ring Road</p>
							<p class="text">Bengaluru 560103</p>
						</div>
					</div>
					<div class="call_email">
						<div class="call_email_row">
							<img src="{% static 'images/call_us_on_icon.png' %}" class="call_email_img" />
							<span class="contact_subtitle">Call us on:</span>
							<span class="text">+91 80 42030433</span>
						</div>
						<div>
							<img src="{% static 'images/email_us_at_icon.png' %}" class="call_email_img" />
							<span class="contact_subtitle">Email us at:</span>
							<span class="text">askus@finaskus.com</span>
						</div>
					</div>
					</div>
				</div>
			</div>
			<div class="footer2">
				<a href="#" class="rights">All Rights Reserved</a>
				<a href="{% static '/terms/' %}" class="terms">Terms & Conditions</a>
				<a href="{% static '/privacy/' %}" class="terms">Privacy Policy</a>
				<a href="{% static '/disclaimer/' %}">Disclaimer</a>
			</div>	
			<div class="footer3">
				<div class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms & Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		function send_email(user_email) {
		var user_email = $('#input_email').val()
		$(document).ready(function(){
		$.ajax({
		url: "/v1.0/core/save/email/",
		method : "POST",
		dataType: 'json',
		data: {"user_email":user_email},
		success: function(results){
		alert('Thanks email saved');
		},
		error: function(results){
		alert('Email entered is not correct');
		}
		});
		});
		}
	</script>

</html>