{% load staticfiles %}
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<title>FinAskus</title>
		
		<meta name="description" content="FinAskus - Smart Investing Made Simple">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="FinAskus Mutual Funds, Android Mobile App Goal planning, retirement planning">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="icon" href="{% static 'images/fav-icon.png' %}" sizes="16*16" type="image/png"> 
		<!--<link rel="stylesheet" type="text/css" href="https://www.finaskus.com/static/css/main.css"> -->

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>
	
	<div class="p_logo">
	<a href="https://www.finaskus.com">  <img src="https://www.finaskus.com/static/images/headerlogo.png" class="logo_img">
        </a>

</div>
<!-- Navigation -->
		  <nav class="navbar-white nav">
			<div class="container-fluid2">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#">Finaskus</a> -->
			  </div>
			  <div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-white nav navbar-nav navbar-right">
				 
						   <li class="navbar-white"><a href="#why-finaskus" class="terms">Why FinAskus</a></li>
						   <li class="navbar-white"><a href="#how-it-works" class="terms">How It Works</a></li>
						   <li class="navbar-white"><a href="https://www.finaskus.com/aboutus/" class="active">About Us</a></li>
						   <li class="dropdown">
							 <a class="dropdown-toggle navbar-white" data-toggle="dropdown" href="#">Resource Center
							   <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="https://www.finaskus.com/mutual-fund-basics/" class="navbar-white terms">MF Basics</a></li>
									<li><a href="https://www.finaskus.com/blog/" class="navbar-white terms">Blog</a></li>
								</ul>
						  </li>
						   <li class="navbar-white"><a href="https://www.finaskus.com/faq/" class="terms">FAQ</a></li>
						   <li class="navbar-white"><a href="https://www.finaskus.com#contactus" class="terms">Contact Us</a></li>			 
				</ul>			
			  </div>
			</div>
		  </nav>

   <!-- End of Navigation -->
		<img src="/static/images/banner_phone.png" class="banner_image">

		<div class="banner1">	
			<a href="https://play.google.com/store/apps/details?id=com.finaskus.finaskus_android"><img class="main_logo_img" src="/static/images/finaskus-app-google-play-badge.png" /></a>

		</div>
		<br><br>
		<p id="why-finaskus" class="title">

			Why FinAskus
		</p>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="text-center img">
						<div class="inside_img">
							<img src="/static/images/simple_board_icon.png">
						</div>
					</div>
					<p class="subtitle">
						Power With Simplicity
					</p>
					<p class="text">
							Highly intuitive and interactive interface, simplifying complex financial principles
					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="/static/images/convenient_icon.png">
						</div>
					</div>
					<p class="subtitle">
						Never Before Convenience
					</p>
					<p class="text">
							Completely paperless process, carry investments in your pocket
					
					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="/static/images/intelligent.png">
						</div>
					</div>
					<p class="subtitle">
						Intelligent & Unbiased
					</p>
					<p class="text">
						Unbiased mutual fund advice, based on strong research and smart algorithms		
					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="/static/images/bank_grade_security_icon.png">
						</div>
					</div>
					<p class="subtitle">
						Bank Grade Security
					</p>
					<p class="text">
						Plan and transact peacefully in an ultra secure environment
					</p>
				</div>

			</div>
		</div>
		<hr>
		
		
		
		<!-- how it works -->
		<br>
		<div id="how-it-works" class="title">
			How It Works
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="text-center img">
						<div class="inside_img">
							<img src="/static/images/goal_definition.png">
						</div>
					</div>
					<p class="subtitle">
						Set Financial Goals
					</p>
					<p class="text">
							Complete your risk assessment and start planning financial goals
					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="/static/images/build_smart_portfolio.png">
						</div>
					</div>
					<p class="subtitle">
						Build Smart Portfolio
					</p>
					<p class="text">
						Get customized mutual fund recommendations with flexibility to compare and modify
					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="/static/images/transact_digitally.png">
						</div>
					</div>
					<p class="subtitle">
						Transact Digitally
					</p>
					<p class="text">
						Simplified transaction process with digital payments and redemptions					</p>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 text-center">
					<div class="img text-center">
						<div class="inside_img">
							<img src="/static/images/track_and_modify.png">
						</div>
					</div>
					<p class="subtitle">
						Track Performance
					</p>
					<p class="text">
							Real-time updates on your portfolio, even with Virtual Investments					</p>
				</div>
				
			</div>
		</div>
		
		
	<div id="contactus" class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="https://www.finaskus.com/static/images/footerlogo.png" class="footerlogo">
					<div>
						<img src="/static/images/app_store.png" class="bottom_img">
			<a href="https://play.google.com/store/apps/details?id=com.finaskus.finaskus_android"><img class="bottom_img" src="/static/images/finaskus-app-google-play-badge_small.png" /></a>
<p style="padding-top:1px"/>
			<table width="135" border="0" cellpadding="2" cellspacing="0" 
 title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications."
 class="bottom_img">
							<tr>
							<td width="135" align="center" valign="top">
							<script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=www.finaskus.com&amp;size=M&amp;lang=en"></script>
							<br />
							<a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
						<div class="address">
							<div class="address_icon">
								<img src="https://www.finaskus.com/static/images/registered_address_icon.png">
							</div>
							<div class="address_text">
								<span class="contact_subtitle">Registered address:</span>
								<div class="text">C-1002, Mantri Espana</div>
								<div class="text">Kariyamma Agrahara</div>
								<div class="text">Marathalli Outer Ring Road</div>
								<div class="text">Bengaluru ,India 560103</div>
							</div>
						</div>
						<div class="call_email">
							<div class="call_email_row">
								<img src="https://www.finaskus.com/static/images/call_us_on_icon.png" class="call_email_img">
								<span class="contact_subtitle">Call us on:</span>
                                <a href="tel:+918095656777"><span class="text">+91 80 95656777</span></a>
							</div>
							<div>
								<img src="https://www.finaskus.com/static/images/email_us_at_icon.png" class="call_email_img">
									<span class="contact_subtitle">Email us at:</span>
									

                                                                        <a href="mailto:askus@finaskus.com"><span class="text">askus@finaskus.com</span> </a>

							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="footer2">
				<a href="https://www.finaskus.com/#" class="rights">All Rights Reserved</a>
				<a href="https://www.finaskus.com/terms/" class="terms">Terms &amp; Conditions</a>
				<a href="https://www.finaskus.com/privacy/" class="terms">Privacy Policy</a>
				<a href="https://www.finaskus.com/disclaimer/">Disclaimer</a>
			</div>	
			<div class="footer3">
				<div class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms &amp; Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</div>
			</div>
		</div>
	
	<script type="text/javascript">
		function send_email(user_email) {
		var user_email = $('#input_email').val()
		$(document).ready(function(){
		$.ajax({
		url: "/v3.0/core/save/email/",
		method : "POST",
		dataType: 'json',
		data: {"user_email":user_email},
		success: function(results){
		alert('Thanks email saved');
		},
		error: function(results){
		alert('Email entered is not correct');
		}
		});
		});
		}
	</script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79265201-1', 'auto');
  ga('send', 'pageview');

</script>


</body></html>
