<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<title>Finaskus - Mutual Fund Basics</title>
		
		<meta name="description" content="Mutual Funds Basics - Easy guide for your investments in Mutual Funds">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://www.finaskus.com/static/css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="https://www.finaskus.com/static/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		  
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!--<link rel="stylesheet" type="text/css" href="https://www.finaskus.com/static/css/main.css"> -->

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	</head>
	<body>
	
		<div class="p_logo">
			<a href="https://www.finaskus.com"> <img src="https://www.finaskus.com/static/images/headerlogo.png" class="logo_img"> </a>
		</div>
		<!-- Navigation -->
<nav class="navbar-white nav">
  <div class="container-fluid2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Finaskus</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-white nav navbar-nav navbar-right">
        
        		 <li class="navbar-white"><a href="https://www.finaskus.com/#why-finaskus" class="terms">Why FinAskus</a></li>
				 <li class="navbar-white"><a href="https://www.finaskus.com/#how-it-works" class="terms">How It Works</a></li>
        		 <li class="navbar-white"><a href="https://www.finaskus.com/aboutus/" class="active">About Us</a></li>
				 <li class="navbar-white"><a href="https://www.finaskus.com/blog/" class="terms">Resource Center</a></li>
				 <li class="navbar-white"><a href="https://www.finaskus.com/faq/" class="terms">FAQ</a></li>				
				 <li class="navbar-white"><a href="https://www.finaskus.com/#contactus" class="terms">Contact Us</a></li>

				 
      </ul>
      
    </div>
  </div>
</nav>
  
	
			<div >
			<img src="https://www.finaskus.com/static/images/faq-finaskus-mutual-funds.png" class="bannerimage">
		</div>
		
		<p class="p_title">Mutual Fund Basics</p>
		<p class="update"> </p>

		<div class="p_container">
			
				
		<details close>
        	<summary class="p_subtitle"> What is a Mutual Fund?</summary>
        	
        	<ul class="p_inside_text cardlayout ">
        		
					 		<p class=" p_text" >A mutual fund is a trust that pools the savings of a number of investors who share a

common financial goal and investments may be in shares, debt securities, money 

market securities or a combination of these. Those securities are professionally

managed on behalf of the unit holders and each investor holds a pro-rata share of

the portfolio, that is, entitled to profits as well as losses.
<br><br>

Income earned through these investments and the capital appreciation realized is

shared by its unit holders in proportion to the number of units owned by them. A

mutual fund is the most suitable investment scope for common people as it offers an

opportunity to invest in a diversified, professionally managed basket of securities at

a relatively lower cost. </p>
		 	   			
		 	   	 
     	   </ul>
     	   
     	  
     	   
     	   
        
		</details>
		
		<details close>
        	<summary class="p_subtitle"> Who Regulates Mutual Funds In India?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text" >
SEBI: To protect the interest of investors, SEBI formulates policies and regulates the

mutual funds. It notified regulations in 1993 (fully revised in 1996) and issues

guidelines from time to time. Mutual funds, either promoted by public or by private

sector entities including one promoted by foreign entities, are governed by these

regulations.					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     	  
     	   
        
		</details>
		
		
			<details close>
        	<summary class="p_subtitle"> Why invest in Mutual Funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text" >
Investing in Mutual Funds comes with lot of advantages such as Professionally managed services, Affordability, Liquidity, Investment Flexibility,  Easy of use tax saving and many more. <a href="./why-invest-in-mutual-funds.html"> read more 	</a>				 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     	  
     	   
        
		</details>
		
		
			<details close>
        	<summary class="p_subtitle"> What are disadvantages of Mutual Funds</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text" >
					 		
					 		Mutual Funds comes with certain  disadvantages  such as Impact Cost, Underperformance, Marketing and Expense ratio, Cost of Churning/Turnover ratio . For details <a href="disadvantages-of-mutual-fund.html"> read more  </a>
					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     	  
     	   
        
		</details>
		
			<details close>
        	<summary class="p_subtitle"> Who Regulates Mutual Funds In India?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text" >
SEBI: To protect the interest of investors, SEBI formulates policies and regulates the

mutual funds. It notified regulations in 1993 (fully revised in 1996) and issues

guidelines from time to time. Mutual funds, either promoted by public or by private

sector entities including one promoted by foreign entities, are governed by these

regulations.					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		
		<p> 
		<br>
<div class="share-buttons">
    
   <a href="https://www.facebook.com/sharer.php?u=https://finaskus.com/why-invest-in-mutual-funds.html" target="_blank">
        <img src="https://www.finaskus.com/static/images/facebook_share_icon.png" alt="Facebook" />
    </a>
    
    <a href="https://twitter.com/share?url=https://finaskus.com/why-invest-in-mutual-funds.html" target="_blank">
        <img src="https://www.finaskus.com/static/images/twitter_share_icon.png" alt="Twitter" />
    </a>
    
    <a href="mailto:?Subject=Why Invest in Mutual Funds&amp;Body=I%20saw%20this%20and%20thought%20of%20shareingyou!%20 https://finaskus.com/why-invest-in-mutual-funds.html">
        <img src="https://www.finaskus.com/static/images/mail_share_icon.png" alt="Mail" />
    </a>
    <a data-text="Found this interesting article. Do have a read." data-link="https://finaskus.com" class="whatsapp w3_whatsapp_btn w3_whatsapp_btn_large"><img src="https://www.finaskus.com/static/images/whatsapp-share-icon.png" alt="Whatsapp" /></a>

</div>
		
<script>

$(document).ready(function() {

var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
 $(document).on("click", '.whatsapp', function() {
        if( isMobile.any() ) {

            var text = $(this).attr("data-text");
            var url = $(this).attr("data-link");
            var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
            var whatsapp_url = "whatsapp://send?text=" + message;
            window.location.href = whatsapp_url;
        } else {
            alert("Oops.Please share this article in mobile device");
        }

    });
});

</script>
    
	</div>
			

		<div class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="https://www.finaskus.com/static/images/footerlogo.png" class="footerlogo">
					<div>
						<img src="https://www.finaskus.com/static/images/app_store.png" class="bottom_img">
						<img src="https://www.finaskus.com/static/images/finaskus-app-google-play-badge_small.png" class="bottom_img">
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
						<div class="address">
							<div class="address_icon">
								<img src="https://www.finaskus.com/static/images/registered_address_icon.png">
							</div>
							<div class="address_text">
								<span class="contact_subtitle">Registered address:</span>
								<div class="text">C-1002, Mantri Espana</div>
								<div class="text">Kariyamma Agrahara</div>
								<div class="text">Marathalli Outer Ring Road</div>
								<div class="text">Bengaluru 560103</div>
							</div>
						</div>
						<div class="call_email">
							<div class="call_email_row">
								<img src="https://www.finaskus.com/static/images/call_us_on_icon.png" class="call_email_img">
								<span class="contact_subtitle">Call us on:</span>
								<span class="text">+91 80 95656777</span>
							</div>
							<div>
								<img src="https://www.finaskus.com/static/images/email_us_at_icon.png" class="call_email_img">
									<span class="contact_subtitle">Email us at:</span>
									<span class="text">askus@finaskus.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer2">
				<a href="https://www.finaskus.com/terms/#" class="rights">All Rights Reserved</a>
				<a href="https://www.finaskus.com/terms/" class="terms">Terms &amp; Conditions</a>
				<a href="https://www.finaskus.com/privacy/" class="terms">Privacy Policy</a>
				<a href="https://www.finaskus.com/disclaimer/">Disclaimer</a>
			</div>

			<div class="footer3">
				<p class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms &amp; Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</p>
			</div>
		</div>
	


</body></html>
