{% load staticfiles %}
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<title>FinAskus - Mutual Fund Basics</title>
		
		<meta name="description" content="Mutual Funds Basics - Easy guide for your investments in Mutual Funds">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="keywords" content="Easy guide to mutual funds, Mutual Fund basics">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="https://www.finaskus.com/static/css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<!--<link rel="stylesheet" type="text/css" href="https://www.finaskus.com/static/css/main.css"> -->

                <link rel="icon" href="{% static 'images/fav-icon.png' %}" sizes="16*16" type="image/png">

		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	</head>
	<body>
	
		<div class="p_logo">
			<a href="https://www.finaskus.com"> <img src="https://www.finaskus.com/static/images/headerlogo.png" class="logo_img"> </a>
		</div>
	<!-- Navigation -->
		  <nav class="navbar-white nav">
			<div class="container-fluid2">
			  <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				</button>
				<!-- <a class="navbar-brand" href="#">Finaskus</a> -->
			  </div>
			  <div class="collapse navbar-collapse" id="myNavbar">
				<ul class="navbar-white nav navbar-nav navbar-right">
				 
						   <li class="navbar-white"><a href="https://www.finaskus.com/#why-finaskus" class="terms">Why FinAskus</a></li>
						   <li class="navbar-white"><a href="https://www.finaskus.com/#how-it-works" class="terms">How It Works</a></li>
						   <li class="navbar-white"><a href="https://www.finaskus.com/aboutus/" class="active">About Us</a></li>
						   <li class="dropdown">
							 <a class="dropdown-toggle navbar-white" data-toggle="dropdown" href="#">Resource Center
							   <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="https://www.finaskus.com/mutual-fund-basics/" class="navbar-white terms">MF Basics</a></li>
									<li><a href="https://www.finaskus.com/blog/" class="navbar-white terms">Blog</a></li>
								</ul>
						  </li>
						   <li class="navbar-white"><a href="https://www.finaskus.com/faq/" class="terms">FAQ</a></li>
						   <li class="navbar-white"><a href="https://www.finaskus.com/contact/" class="terms">Contact Us</a></li>			 
				</ul>			
			  </div>
			</div>
		  </nav>

   <!-- End of Navigation -->
  
	
			<div >
			<img src="https://www.finaskus.com/static/images/faq-finaskus-mutual-funds.png" class="bannerimage">
		</div>
		
		<p class="p_title">Mutual Fund Basics</p>
		<p class="update"> </p>

		<div class="p_container">
			
				
		<details close>
        	<summary class="p_subtitle"> What is a Mutual Fund?</summary>
        	
        	<ul class="p_inside_text cardlayout ">
        		
					 		<p class=" p_text_basics" >A mutual fund is a trust that pools the savings of a number of investors who share a

common financial goal and investments may be in shares, debt securities, money 

market securities or a combination of these. Those securities are professionally

managed on behalf of the unit holders and each investor holds a pro-rata share of

the portfolio, that is, entitled to profits as well as losses.
<br><br>

Income earned through these investments and the capital appreciation realized is

shared by its unit holders in proportion to the number of units owned by them. A

mutual fund is the most suitable investment scope for common people as it offers an

opportunity to invest in a diversified, professionally managed basket of securities at

a relatively lower cost. </p>
		 	   			
		 	   	 
     	   </ul>
     	   
     	  
     	   
     	   
        
		</details>
		
		<details close>
        	<summary class="p_subtitle"> Who Regulates Mutual Funds In India?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
SEBI: To protect the interest of investors, SEBI formulates policies and regulates the

mutual funds. It notified regulations in 1993 (fully revised in 1996) and issues

guidelines from time to time. Mutual funds, either promoted by public or by private

sector entities including one promoted by foreign entities, are governed by these

regulations.					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     	  
     	   
        
		</details>
		
		
			<details close>
        	<summary class="p_subtitle"> Why invest in Mutual Funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 	  <p class="p_text_basics">

							<strong>Professional Management and Informed Decision Making:</strong> The biggest advantage that mutual funds offer is greater expertise on the markets, be it stock market or the debt market. An AMC, with its well organized and structured pool of talent, tracks the economy, companies and stock market happenings on a day-to-day basis, and investment decisions are made on the basis of this research. It would be far more difficult for a retail investor to replicate research of the same magnitude. 

<br><br>


<strong>Investment Flexibility: </strong>Mutual fund houses offer various categories of schemes (equity, debt, hybrid etc) with a good number of options such as growth, regular income and so on. You can pick and choose as per your risk appetite; return expectations and overall investment objective.
<br><br>


<strong>Affordability and Liquidity: </strong>To start with, one can invest just Rs. 500 to buy a mutual fund scheme. Systematic investment plans also allow investors to invest even with as low as Rs. 500. Likewise, Mutual funds are easy to redeem. You can redeem your liquid fund within 24 hours and other funds can be redeemed within three business days. 
<br><br>
<strong>Diversification:</strong> With a comparatively small capital investment in a mutual fund scheme, you can gain exposure to a large variety of instruments. In fact, some instruments, which form part of a mutual fund&#39s portfolio, especially in the debt segment, are totally out of the reach of a retail investor due to the high threshold investment limits. Hence Mutual Funds make investments in a number of stocks and sectors, and the resultant diversification reduces risk.
<br><br>
<strong>Tax Benefits:</strong> Mutual funds offer options, whereby the investor can let the moneys grow in the scheme for several years. By selecting such options, it is possible for the investor to defer the tax liability. This helps investors to legally build their wealth faster than would have been the case, if they were to pay tax on the income each year. 



				 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     	  
     	   
        
		</details>
		
		
			<details close>
        	<summary class="p_subtitle"> What are disadvantages of Mutual Funds</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
							<strong>Impact Cost: </strong>Operationally, mutual funds buy and sell in large volumes and voluminous buying or selling of shares often results in adverse price movements. Funds, which buy in large volumes, end up inflating the prices and when funds sell in large quantities, they tend to depress prices. This phenomenon of the possibility of high prices while buying and low prices while selling is called impact cost.<br><br>

<strong>Marketing and Fund management costs or Expense Ratio: </strong>In the case of most mutual funds, there is an exit load (fee) applicable, while selling mutual fund units. These loads, which are a certain percentage of the value of units held, are applied to cover marketing and other costs. In addition to this, the AMC charges annual asset management fees and expenses that are captured in the expense ratio. <br><br>

<strong>Cost of churning or Turnover Ratio: </strong>Some schemes tend to churn their portfolio very often, in keeping with the investment philosophy of the fund manager, i.e., whether he/she believes in long term or short-term returns. This means higher transaction costs (brokerage, custody fees etc.) and consequently, lower returns.<br><br>

Underperformance &#45 Research proves that 48% of schemes perennially underperform vis-à-vis the benchmarks. Hence selecting the fund and the fund manager is important.	

					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     	  
     	   
        
		</details>
		
			<details close>
        	<summary class="p_subtitle"> What are Systematic Plans?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Mutual funds also offer facilities that help investor invest amounts regularly through a Systematic Investment Plan (SIP); or withdraw amounts regularly through a Systematic Withdrawal Plan (SWP); or move moneys between different kinds of schemes through a Systematic Transfer Plan (STP). Such systematic approaches promote investment discipline, which is useful in long-term wealth creation and protection. SWPs allow the investor to structure a regular cash flow from the investment account					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
	</details>
		
	<details close>	


<summary class="p_subtitle"> What are the types of Mutual funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
There are <strong>three </strong>types of mutual funds. 

<strong>Open-Ended: </strong>In open-ended mutual funds, investors are permitted to enter and exit from the fund at any point of time at a price that is linked to the net asset value (NAV). <br><br>

<strong>Closed-Ended: </strong> In case of closed-ended funds, the total size of the corpus is limited by the size of the initial offer. Investors are restricted with enter and exit from the funds during ongoing periods. FMPs are the best examples for closed-ended funds. 
<br><br>
Investors should not confuse between closed-ended funds and funds with lock in features. Funds with lock in feature are ELSS schemes wherein the investors are not allowed to redeem the invested amount in the three years from the date of allotment. 
<br><br>
<strong>Interval Funds: </strong>Interval funds combine the characteristics of both closed-end and open-ended funds. These are schemes whose units can be bought and sold only during a specified time interval, say, 15 days or even three months or any other time period, which is predetermined by the fund house. 
</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		
		<details close>


<summary class="p_subtitle"> What are the different categories in Mutual Funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >

Mutual funds are classified broadly as Equity funds, Hybrid Funds and Debt Funds based on their portfolio allocation. They are explained below. <br><br> 

<strong> A. Equity Funds: </strong>
Equity funds invest maximum of their assets (minimum of 65% to maximum of 100% of the assets) in shares of companies that are listed on the stock exchanges. Dividend and capital appreciation are the major revenue streams for equity funds. They are normally called as high -risk high-return products. These schemes are suitable for investors who are ready to take on some amount of risk to achieve higher returns. 
<br><br>
Within equity, there are various categories of products that come with their own risk and return attributes. 
<br><br>
They are, 
<br>
<strong>Equity Diversified funds: </strong>They are equity mutual funds that allocate and diversify their assets across stocks and sectors. This diversification strategy tries to mitigate the risks that are involved in equity market. Based on the allocation to market capitalization, these funds are further classified as Large cap, Mid cap, Small cap and Multi cap. 
<br><br>
Large cap funds allocate maximum assets into blue chip stocks while the Mid cap and Small cap funds allocate maximum assets into mid cap and Small cap companies respectively. Likewise, Multi cap funds invest across stocks and industries irrespective of the market capitalization. Large cap funds carry the lowest risk among equity diversified sub categories. 
<br><br>
<strong>Thematic funds:</strong> Also categorized as semi diversified equity funds they invest selectively in particular sectors as specified in their scheme objectives. Examples are Infrastructure funds, MNC funds, Shariah funds etc. In most of the cases Dividend yield and Contra funds are also considered as semi diversified funds. <br><br>

<strong>Sector funds:</strong> Sector funds invest in companies belonging to specific sector mentioned in the offer document. They are concentrated bets. Sectoral equity funds are dedicated to industries like technology, bank, pharmaceuticals, etc. 
<br><br>
<strong>Index and ETFs:</strong> They are passively managed equity funds that replicate select indices, such as the Nifty 50 or the Sensex, etc., by investing in the same stocks that comprise the index. ETFs are more convenient over index funds as they are traded on the exchanges like regular shares and also have a lower expense component. 
<br><br>
<strong>ELSS: </strong> Equity Linked Saving Schemes are tax-planning schemes, which investment strategy is similar to Equity diversified funds. They provide tax benefit and they carry a 3-year lock-in period. That means investors cannot redeem their investment within three years from the date of allotment.

<br><br>
Equity Linked Saving Schemes (ELSS) offer multiple advantages of providing equity returns along with tax benefit on investment in a short lock in period of 3 years. The lock-in period applicable to ELSS is 3 years, while it is 6 years in the case of National Savings Certificates and 15 years in the case of PPF. Opting for the dividend option in the ELSS allows investors to realize some gains even during the lock-in period. 
<br><br>
They provide tax benefit to the investors for investments up to overall limit of Rs. 1,50,000 under Section 80 C of the Income tax Act. Investors get a deduction of the amount invested from their taxable income. The taxpayer straightaway saves to the extent of tax applicable on the invested amount. Hence depending on the applicable tax rate, the returns earned can be calculated on the net-of-tax-benefit investment and hence are superior. 
<br><br>
ELSS are equity linked products which allow investors to participate in equity markets and provide higher return potential (on the flip side, risk is also higher but the tax benefit acts as a buffer). 
<br><br>
Since the investments in equity over long-term delivers better returns, the lock-in period of 3 years allows the fund managers of ELSS to build a portfolio for the long term without worrying about early redemptions. This helps the investors to boost their wealth to achieve their long-term goals.
<br><br>
<strong>B. Hybrid or Balanced Mutual Funds: </strong>
Hybrid or Balanced Schemes invest in equities as well debt instruments. The key objective here is to blend the advantages of equity and debt mutual funds &#45 steady returns with moderate capital appreciation. Accordingly, the risk and return profile is somewhere between debt and equity funds. They are classified as further, 
<br><br>
Hybrid Equity Oriented (which invest minimum in 60% in equity and the rest in debt), 
<br>
Hybrid Debt Oriented (which invest close to 35% in equity and the rest in debt), 
<br>
Monthly Income Plan (which invest 15% to 30% in equity and the rest in debt). 
<br><br>
<strong>C. Debt Funds: </strong>
Debt oriented schemes cater to more conservative investors as they invest all portion of their corpus in various debt instruments, such as company bonds and debentures, treasury bills, government securities, etc. The income of such funds comes from the interest that the debt instruments held in the portfolio deliver. In the case of debt instruments that are traded, income could be accrued in the form of capital appreciation on traded debt paper. Interest rate movements are the biggest risk factor for debt funds. 
<br>
There are various types of debt funds, key among them include; 
<br>
<strong>Gilt Funds:</strong> The Gilt Funds invest most of their corpus in sovereign securities, i.e. central and state government securities. Such schemes can further be further categorized into short term and long term gilt funds depending on the types of instruments that they invest in. Although these funds are almost risk free, they are subject to interest rate volatility. Whenever the interest rates are showing a declining trend, they will fetch higher returns due to appreciation in value of the Gilt portfolio. But in case of an increasing trend in interest rates, Gilt funds can give low or negative returns. 
<br><br>
<strong>Income Funds: </strong>These funds invest in long-term debt instruments which typically offer the highest returns since the durations are long and there is a direct relationship between the duration of a bond and its returns. Although these funds could offer greater returns than any other debt fund on the maturity spectrum, they are open to both credit risks (the risk that the market value of the bond will fall below the price at which it was purchased, which in turn will cause the NAV of such funds to fall) and interest rate risks (if interest rates rise, the prices of bonds fall, as these two factors are inversely related). 
<br><br>
<strong>Short term Income, Ultra short term Income and Liquid Funds:</strong> They are classified as short-term funds as their portfolios contain instruments that have a maturity of up to one year such as treasury bills, certificates of deposit, commercial paper, reverse repo, etc.. The main objective of these funds is to offer investors a liquid investment avenue that also offers scope for good returns, unlike a bank fixed deposit, which offers low fixed returns. Short Term income funds invest in up to three years residual maturity debt papers. Ultra Short term income funds allocate their assets to the debt securities maturing in a year while Liquid funds invest only in the debt securities, which maturity periods up to 91 days. 
<br><br>
<strong>Arbitrage Funds: </strong> Arbitrage schemes are equity oriented schemes and reap the benefit from the arbitrage opportunities between the cash and the futures markets. They are considered as best alternates for liquid and other short-term income categories, since they provide limited steady returns for shorter period. Investors with low risk appetite can invest and hold for one year and more. 
<br><br>
<strong>Fund of Funds:</strong> Fund of Funds is a mutual fund, which invests in other mutual fund schemes. Where a traditional mutual fund comprises of a portfolio of shares, a Fund of Funds comprises of a portfolio of different mutual fund schemes. Investing in a FoF scheme provides the investor greater diversification. New or first time investors, who do not have a large capital for a diversified portfolio, could now diversify from among thousands of funds and stocks, with a small amount of money. However, Expense fees and management costs are higher than normal mutual funds, as the cost structure will include the fees of the underlying mutual funds, as well as the FoF.



</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What are ETFs?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Exchange Traded Funds ("ETFs") are open-ended funds that trade on a stock exchange just like the shares of an individual company. Unlike the share of a company, each unit of an ETF represents a portfolio of stocks. So it is similar to a unit of an open-ended mutual fund but with a big difference
							</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What are Gold ETFs?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Gold ETFs are passively managed mutual fund schemes investing in standard gold bullion having 99.5% purity. They are listed on the stock exchanges for trading with an intention to offer investors a means of participating in the gold bullion market without the necessity of taking physical delivery of gold. These are designed to provide returns that closely correspond to the returns provided by domestic price of Gold. 

							</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> How to choose Mutual Funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Selecting a mutual fund for investing is a very important step in the financial planning. The most important first step is to have an investment goal. A fantastic fund selection done without having an investment goal is completely useless. Investors should know the reason for the investment, how long they can be in the investment, at what stage they will re-allocate and how much is their risk appetite, etc before making investment in Mutual funds. 

There are two way of investing in the mutual funds such as Lumpsum or SIP, which will help the investors to achieve their financial goals on right time.
							</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What are some basic terms in Mutual Funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
<strong>NAV:</strong>
AMCs disclose NAV for each mutual fund scheme to denote the realizable value of per unit of a scheme in a particular day. Buying and selling into funds is done on the basis of NAV prices. It includes the gains it realizes in the market, dividend income, interest income it earns from the underlying stocks, less expenses it incurs and losses, if any. A funds NAV is the price at which you get to buy mutual fund units. When you sell these units, you get to see them at NAV plus a nominal mark-up, known as exit load, if applicable. Most equity funds have no exit load after about a year. Some debt funds carry no exit loads. 
<br><br>
Net asset value on a particular date reflects the realizable value that the investor will get for each unit that he his holding if the scheme is liquidated on that date. It is calculated by deducting all liabilities (except unit capital) of the fund from the realizable value of all assets and dividing by number of units outstanding. 
<br><br>
<strong>How often is the NAV declared: </strong>
Mutual Funds declare NAV for their schemes on a daily basis. As per SEBI Regulations, the NAV of a scheme shall be calculated and published at least in two daily newspapers at intervals not exceeding one week. However, NAV of a close-ended scheme targeted to a specific segment or any monthly income scheme (which is mandatory requirement to be listed on a stock exchange) may be published at monthly or quarterly intervals. 
<br><br>
<strong>Entry load: </strong>
SEBI banned Entry loads on all mutual funds on 1st August 2009.
<br><br>
<strong>Exit Load:</strong> 
Mutual funds charge certain percentage which ranging from nil to 3% of the investment while redeeming or switching out the schemes. That Exit load is applicable for a specific period from the time of purchase and beyond this period, no exit load is applicable on redemptions. The fund uses this charge to meet its marketing and distribution expenses. Liquid funds do not charge any exit load while other debt funds charges nil to 3%. In case of Equity oriented funds, most of the funds charge 1% of exit load if the units are redeemed with in a year 
<br><br>
<strong>Cut-off time: </strong> 
Cut-off timing is the time before which an investor has to submit their application for redemption or purchase. In order to get the NAV of the current day you would have to transact before the cut-off time of the scheme. If you place any order after the said cut-off time, you would be eligible for NAV of the next day. The cutoff time for accepting orders in Non-liquid funds is 3 pm and in Liquid funds it is 12 pm (the cut off time for liquid funds vary among mutual funds from 12 pm to 2 pm). 
<br><br>
<strong>Benchmark: </strong>
According to SEBI, Indian mutual funds need to measure the performance of their schemes against an index. This is enable investors to judge their schemes performance and compare it with another instrument (in this case, an index) to ascertain whether it&#39s meeting their financial goals. Equity funds are free to choose the benchmark index they feel consists an appropriate universe of stocks that it aims to invest in. But debt funds are mandated to use specific indices. Crisil Ltd and ICICI Securities Ltd create these indices and maintain them. Investors can look out for their scheme&#39s performance against the index in fund&#39s monthly factsheet. 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What is Expense Ratio?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
AMCs charge an annual fee, or expense ratio that covers administrative expenses, advertising expenses, custodian fees, etc. Such expense ratio is calculated periodically but is charged daily on the NAV. 
<br>
SEBI has a cap on the maximum amount that a fund can charge as expense. For instance, it is a maximum of 2.5 per cent for active equity funds. It is lower for debt funds and index funds to the maximum of 2% and 1.5% respectively.
<br>
A fund's expense ratio is typically linked to the size of the funds under management and not to the returns earned. Normally, expense ratio does not matter to Indian investors where funds have comfortably managed double digit returns, especially in equity funds. Investors should look at the comparative performance of the particular fund versus others in its category.
</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What are Direct plans?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Direct plan options enable investors to buy schemes directly from the fund house and benefit from that purchase by paying a lower expense. SEBI has made it mandatory for all asset management companies (AMCs) to offer separate direct plans for open-end schemes; this was made effective 1 January 2013. Since, the investor approaches the AMC directly and there is no marketing or distribution expense, the direct plan net asset value (NAV) accounts for a lower expense. As a result the direct plan NAV is higher than the normal plans NAV to the extent of the difference in expense ratio, which can be around 0.5- 0.75% annually. 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What is Turnover ratio?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
The rate at which the fund's portfolio securities are changed each year. If a fund's assets total Rs 100 crore and the fund bought and sold Rs 100 crore worth of securities that year, its portfolio turnover rate would be 100%. Aggressively managed funds generally have higher portfolio turnover rates than do conservative funds, which invest for the long term. High portfolio turnover rates generally add to the expenses of a fund.
 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>


<summary class="p_subtitle"> How is Performance measured for Mutual funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
<strong>Return:</strong>
Returns are the key indicators of their investment performance and are calculated from the historical NAVs. These returns of the schemes should be compared with the peer schemes in the same category or the corresponding benchmarks so that the investor will get the fair idea about the fund whether it is suitable for achieving his financial goals. 
<br><br>
To calculate the returns, one can either consider point-to-point returns or rolling returns. 
<br><br>
In mutual funds, NAV is the basic element used in calculating the returns because it keeps varying from one point of time to other. Thus, the purchase and sale value of investment is derived by multiplying the units purchased with NAV for respective period i.e. purchase date and sale date. For a layman, surplus earned over and above the principal is often termed as returns. Returns are often termed in value and % change, for instance, investment of Rs.10,000 appreciates to Rs.15,000 during the term of 3 year of value. It means that principal has appreciated by Rs. 5,000, while in terms of percentage change, its 50% appreciation. But, can we term this % change as the only method to gauge the performance of mutual fund investments. 
<br><br>
<strong> Point to point returns: </strong>These returns are calculated by considering the NAVs at two points in time-entry date and exit date. The absolute returns are very easy to calculate as it measures the value of investment at one point of time with other. This is the most common method to interpret the investment performance. To know how your investment has grown on an annual basis, you'll need to check the compounded annual growth rate (CAGR). Though CAGR can be calculated for any time period, a simple point-to-point return is preferred when the holding period is less than one year and CAGR is ideal for longer holding periods. 
<br><br>
<strong>Rolling Return: </strong> Though it's easy to calculate the point-to-point return and is extensively used to analyse fund performance, be warned that it's not a fool-proof method. It fails to determine the consistency of the historical returns. Rolling returns come to the existence to measure the consistency of the returns that are generated by the funds. In rolling return, returns are calculated on a continuous basis for each defined interval, which can be days, weeks, months, quarters, even years. The maximum/minimum rolling return of a scheme not only helps determine the consistency of a fund's performance, but also assess its best and worst periods (years, months, quarters) in terms of returns. Rolling returns can be calculated for any interval. 
<br><br>
<strong> XIRR:</strong> XIRR is a excel calculation method which is used to measure the SIP performance of the schemes 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>

		<details close>


<summary class="p_subtitle"> Are Mutual Funds Risk-free?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Mutual fund investments are not totally risk free. Further, they do not provide assured returns. Their returns are linked to their performance. They invest in shares, debentures and deposits. All these investments involve an element of risk. 
<br><br>
A very important risk involved in mutual fund investments is the market risk. When the market is in doldrums, most of the equity funds will also experience a downturn. However, the company specific risks are largely eliminated due to professional fund management. 
<br><br>
The following are the some of the risks that are mainly involved with mutual fund investment. They are Industry risk, Credit Risk, Inflation risk, Interest rate risk, Fund Manager Risk, Country risk, Currency Risk, etc.
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>

		<details close>


<summary class="p_subtitle"> How is Mutual Fund Risk Measured?</summary>
        	
        	<ul class="p_inside_text cardlayout">
				<ul class="p_inside_text ">
				 	<ol>
				 		<p class="p_text_basics">
Investors need to evaluate the risk involved in mutual fund schemes before investing. There are some statistical tools that help to measure the risk involved in the mutual funds. Risk in mutual fund means volatility is nothing but the fluctuation of the Net Asset Value. The higher the volatility the greater the fluctuation of the NAV. Generally, past volatility is taken as an indicator of future risk and for the task of evaluating a mutual fund this is an adequate. There are many ways in which you can determine how risky a fund is. The following risk measures are commonly used		

<br><br>
<strong>Standard Deviation: </strong>
Standard deviation is probably used more often than any other measure to gauge a funds risk. It measures the fluctuation in periodic returns of a scheme in relation to its own average return. Investors like using standard deviation because it provides a precise measure of how varied a fund&#39s returns have been over a particular time frame- both on the upside and the down &#45 side. With this information, you can judge the range of returns your find is likely to generate in the future. 
<br><br>
<strong>Beta: </strong>
This measure compares a mutual fund's volatility with that of a benchmark and is supposed to give some sense of how far you can expect a fund to fall when the market takes a dive, or how high it might climb if the bull is running hard. A fund with a beta greater than 1 is considered more volatile than the market; less than 1 means less volatile. So say your fund gets a beta of 1.15 -- it has a history of fluctuating 15% more than the benchmark If the market is up, the fund should outperform by 15%. If the market heads lower, the fund should fall by 15% more. 
<br><br>
<strong>Sharpe Ratio: </strong>
This formula, worked by Nobel Laureate Bill Sharpe, tries to quantify how a fund performs relative to the risk it takes. Take a fund's returns in excess of a guaranteed investment (a 90-day T-bill) and divide by the standard deviation of those returns. The bigger the Sharpe ratio, the better a fund performed considering its riskiness. 
<br><br>
<strong>Alpha: </strong>
Alpha was designed to take beta one step further. It looks at the relationship between a fund's historical beta and its current performance. An alpha of 0 simply means that the fund did as well as expected, considering the risks it took. So if that fund with the beta of 1.15 beat the market by 15% (or underperformed it by 15% when the market was down), it would have a 0 alpha. If your fund has a positive alpha, that means it returned more than its beta predicted. A negative alpha means it returned less. 
			 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>

		<details close>


<summary class="p_subtitle"> What are the different modes to invest in / redeem from Mutual Funds?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >

Apart from lumpsum investment and lumpsum withdrawal, in order to help investors to simplify the decision of when to invest and disinvest and make it as beneficial as possible, mutual funds offer Systematic Investment Plan (SIP), Systematic Withdrawal Plan (SWP) and Systematic Transfer Plans (STP). 
<br><br>
<strong>Systematic Investment Plans: </strong>
SIPs involve making investments of fixed sums of money in a particular scheme at predetermined periodical intervals of time (monthly, quarterly or annually). As this technique results in buying more units when the price is low and less units when the price is high, it has been found to lower the average cost per unit purchased, irrespective of whether the market is climbing, falling or generally volatile. Further, in addition to sparing you from the need to time the market, it makes investing relatively simple as fund houses allow you to invest using post dated cheques, ECS transfers, etc. 
<br><br>
<strong>Systematic Withdrawal Plans: </strong>
SWPs can be used to regularly disinvest either fixed amounts or some or all of the appreciation that is generated from your investment in the scheme. This allows you to receive a regular income from your investment in a scheme or simply invest the gains from the scheme elsewhere. All you have to do to utilize this facility is fill in a form that is available with the fund house, intimating them about your preferences (fixed or appreciation withdrawal). 
<br><br>
<strong>Systematic Transfer Plans: </strong>
Through STPs you can transfer fixed amounts of money at regular intervals (monthly or quarterly) from one scheme to another. You can activate this facility by giving your fund house one-time standing instructions to execute such transfers. These plans effectively automate both the processes of investing and disinvesting. 
<br><br>
<strong>What is Dividend Distribution Tax (DDT)?</strong> 
Dividends are tax free in your hands. However, debt funds pay a dividend distribution tax (DDT) of 28.325% (including surcharge and cess) of the dividend amount that they distribute. Though dividends are tax free in your hands, the DDT comes out of the dividend to be distributed, so in effect its you who end up paying the tax. 
<br><br>
Dividends from equity-oriented funds are completely tax free. 	

		 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>


<summary class="p_subtitle"> What is a Scheme Information Document (SID)?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Scheme Information Document (SID) or Offer Document (OD) is a prospectus that details the investment objectives and strategies of a particular fund or group of funds, as well as the finer points of the fund's past performance, managers and financial information. You can obtain these documents from fund companies 
directly, through mail, e-mail or phone. You can also get them from a financial planner or advisor. All fund companies also provide copies of their ODs on their websites. We provide SIDs of all recommended Schemes on our website at www.finaskus.com.
 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>


<summary class="p_subtitle"> What is Yield to Maturity (YTM)?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Simply put the annualized return an investor would get by holding a fixed income instrument until maturity. It is the composite rate of return of all payouts and coupon.
 
 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>

		<details close>

<summary class="p_subtitle"> What affects interest rates?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
The factors are largely macro-economic in nature -
<br><br>
<strong>Demand/Supply of money :</strong>When economic growth is high, demand for money increases, pushing the interest rates up and vice versa.
<br><br>
<strong>Government Borrowing and Fiscal Deficit :</strong>Since the government is the biggest borrower in the debt market, the level of borrowing also determines the interest rates. On the other hand, supply of money is done by the Central Bank by either printing more notes or through its Open Market Operations (OMO).
<br><br>
<strong>RBI :</strong>RBI can change the key rates (CRR, SLR and bank rates) depending on the state of the economy or to combat inflation. RBI fixes the bank rate, which forms the basis of the structure of interest rates and the Cash Reserve Ratio (CRR) and Statutory Liquidity Ratio (SLR), which determines the availability of credit and the level of money supply in the economy.
<br><br>
<strong>Inflation Rate: </strong>Typically a higher inflation rate means higher interest rates. The interest rates prevailing in an economy at any point of time are nominal interest rates, i.e., real interest rates plus a premium for expected inflation. Due to inflation, there is a decrease in purchasing power of every rupee earned on account of interest in the future; therefore the interest rates must include a premium for expected inflation. In the long run, other things being equal, interest rates rise one for one with rise in inflation 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>


<summary class="p_subtitle"> What affects bond prices?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Interest rates and credit quality of the issuer largely impact bond prices.
<br><br>
<strong>Interest Rates:</strong> The price of a debenture is inversely proportional to changes in interest rates that in turn are dependent on various factors. When the interest rates fall down, the existing bonds will become more valuable and the prices will move up until the yields become the same as the new bonds issued during the lower interest rate scenario (for a detailed explanation see "what affects interest rates").
<br><br>
<strong>Credit Quality:</strong> When the credit quality of the issuer deteriorates, market expects higher interest from the company and the price of the bond falls and vice versa.
Another factor that determines the sensitivity of a bond is the "Maturity Period" - a longer maturity instrument will rise or fall more than a shorter maturity instrument.
 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>


<summary class="p_subtitle"> What is Yield Curve?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
The relationship between time and yield on securities is called the Yield Curve. The relationship represents the time value of money - showing that people would demand a positive rate of return on the money if they are willing to part today for a payback into the future.<br>

A yield curve can be positive, neutral or flat.
<ul>
<li>A positive yield curve, which is most natural, is when the slope of the curve is positive, i.e. the yield at the longer end is higher than that at the shorter end of the time axis. This is as a result of people demanding higher compensation for parting their money for a longer time into the future.
</li>
<li>
A neutral yield curve is that which has a zero slope, i.e. is flat across time. This occurs when people are willing to accept more or less the same returns across maturities.
</li>
<li>The negative yield curve (also called an inverted yield curve) is one of which the slope is negative, i.e. the long-term yield is lower than the short-term yield. It is not often that this happens and has important economic ramifications when it does. It generally represents an impending downturn in the economy, where people are anticipating lower interest rates in the future.
</li>
</ul>
 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>

<summary class="p_subtitle"> What is Average Maturity Period?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
It is a weighted average of the maturities of all the instruments in a portfolio. 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>
		<details close>


<summary class="p_subtitle"> What is a Credit Rating?</summary>
        	
        	<ul class="p_inside_text cardlayout">

					<ul class="p_inside_text ">
					 	<ol>
					 		<p class="p_text_basics" >
Credit Rating is an exercise conducted by a rating organization to evaluate the credit worthiness of the issuer with respect to the instrument being issued or a general ability to pay back debt over the specified period of time. The rating is given as an alphanumeric code that represents a graded structure or creditworthiness. Typically the highest credit rating is that of AAA and the lowest being D (for default). Within the same alphabet class, the rating agency might have different grades like A, AA and AAA and within the same grade AA+, AA- where the "+" denotes better than AA and "-" indicates the opposite. For short term instruments of less than a year maturity, the rating symbol would be typically "P" (varies depending on the rating agency).
<br><br>
In India, currently we have four rating agencies -<br>
CRISIL , ICRA , CARE & Fitch 					 		</p>
		 	   			</ol>
		 	   		</ul>
     	   </ul>
     	   
     
		</details>








		<p> 
		<br>
<div class="share-buttons">
    
   <a href="https://www.facebook.com/sharer.php?u=https://finaskus.com/why-invest-in-mutual-funds.html" target="_blank">
        <img src="https://www.finaskus.com/static/images/facebook_share_icon.png" alt="Facebook" />
    </a>
    
    <a href="https://twitter.com/share?url=https://finaskus.com/why-invest-in-mutual-funds.html" target="_blank">
        <img src="https://www.finaskus.com/static/images/twitter_share_icon.png" alt="Twitter" />
    </a>
    
    <a href="mailto:?Subject=Why Invest in Mutual Funds&amp;Body=I%20saw%20this%20and%20thought%20of%20shareingyou!%20 https://finaskus.com/why-invest-in-mutual-funds.html">
        <img src="https://www.finaskus.com/static/images/mail_share_icon.png" alt="Mail" />
    </a>
    <a data-text="Found this interesting article. Do have a read." data-link="https://finaskus.com" class="whatsapp w3_whatsapp_btn w3_whatsapp_btn_large"><img src="https://www.finaskus.com/static/images/whatsapp-share-icon.png" alt="Whatsapp" /></a>

</div>
		
<script>

$(document).ready(function() {

var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i);
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i);
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
    },
    Opera: function() {
        return navigator.userAgent.match(/Opera Mini/i);
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i);
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
    }
};
 $(document).on("click", '.whatsapp', function() {
        if( isMobile.any() ) {

            var text = $(this).attr("data-text");
            var url = $(this).attr("data-link");
            var message = encodeURIComponent(text) + " - " + encodeURIComponent(url);
            var whatsapp_url = "whatsapp://send?text=" + message;
            window.location.href = whatsapp_url;
        } else {
            alert("Oops.Please share this article in mobile device");
        }

    });
});

</script>
    
	</div>
			

		<div class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="https://www.finaskus.com/static/images/footerlogo.png" class="footerlogo">
					<div>
						<img src="https://www.finaskus.com/static/images/app_store.png" class="bottom_img">
						<a href="https://play.google.com/store/apps/details?id=com.finaskus.finaskus_android"><img src="https://www.finaskus.com/static/images/finaskus-app-google-play-badge_small.png" class="bottom_img">
			                        </a>	
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
						<div class="address">
							<div class="address_icon">
								<img src="https://www.finaskus.com/static/images/registered_address_icon.png">
							</div>
							<div class="address_text">
								<span class="contact_subtitle">Registered address:</span>
								<div class="text">C-1002, Mantri Espana</div>
								<div class="text">Kariyamma Agrahara</div>
								<div class="text">Marathalli Outer Ring Road</div>
								<div class="text">Bengaluru 560103</div>
							</div>
						</div>
						<div class="call_email">
							<div class="call_email_row">
								<img src="https://www.finaskus.com/static/images/call_us_on_icon.png" class="call_email_img">
								<span class="contact_subtitle">Call us on:</span>
								<span class="text">+91 80 95656777</span>
							</div>
							<div>
								<img src="https://www.finaskus.com/static/images/email_us_at_icon.png" class="call_email_img">
									<span class="contact_subtitle">Email us at:</span>
									
                                                                        <a href="mailto:askus@finaskus.com"><span class="text">askus@finaskus.com</span> </a>

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer2">
				<a href="https://www.finaskus.com/terms/#" class="rights">All Rights Reserved</a>
				<a href="https://www.finaskus.com/terms/" class="terms">Terms &amp; Conditions</a>
				<a href="https://www.finaskus.com/privacy/" class="terms">Privacy Policy</a>
				<a href="https://www.finaskus.com/disclaimer/">Disclaimer</a>
			</div>

			<div class="footer3">
				<p class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms &amp; Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</p>
			</div>
		</div>
	


</body></html>
