{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>FinAskus</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name ="description" content=""/>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name = "keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans Pro:200,300,400,600,700,900' rel='stylesheet'
			  type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
		<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
	<body>

		<div class="p_logo">
			<img src="{% static 'images/headerlogo.png' %}" class="logo_img"/>
		</div>
		<div class="p_border">
		</div>
		<p class="p_title">Terms & Conditions</p>
		<p class="update">Date of last revision: June 30, 2016</p>

		<div class="p_container">
			<p class="p_text">
				Finaskus Technologies Pvt Ltd ("FinAskus" or "Finaskus" or "Company") is an AMFI-registered distributor of mutual funds and operates through its online technology platform which include the
				FinAskus mobile app (the "FinAskus Mobile App", both Android and iOS) and its Website (<a href="{% static '/' %}">"www.Finaskus.com</a>").
			</p>
			<p class="p_text">
				Please go through the following terms & conditions ("Agreement") thoroughly to avail the services of FinAskus. This Investment Services Agreement is a legal agreement between you ("User" and/or "Client") and FinAskus ("Company"), and it sets forth the terms upon which you shall avail the investment advice and transaction service from FinAskus.
			</p>
			<p class="p_text">
				By accepting electronically (for example, clicking or selecting "I Agree" or "Confirm"), installing, accessing or using the Services, you unconditionally and irrevocably agree to these terms and conditions, which together with our Privacy Policy, Disclaimer and any other applicable policies, shall govern FinAskus' relationship with you. If you do not agree to this Agreement, you may immediately discontinue and stop using the services of FinAskus.
			</p>
			<p class="p_subtitle">Definitions:</p>
				<p class="p_text">
					"FinAskus" or "us" or "we" or "our" shall mean and refer to Finaskus Technologies Pvt Ltd and its affiliates, officers, employees, agents, partners and licensors;
				</p>
				<p class="p_text">
					"User", "Client", "Customer", "You/you", "Your/your" means any person or user or Registered user or viewer or who views, accesses or uses our Mobile App and / or Website;
				</p>
				<p class="p_text">
					"Registered User", "Registered Client" or "Registered Customer" shall mean and include the users or customers who have an active Investment Account with FinAskus to avail the Services or any part thereof;
				</p>
				<p class="p_text">
					"Investment Account" shall mean the account opened with FinAskus by the Registered Users, for use of the Mobile App and / or the Website or making investment through these online platforms;
				</p>
				<p class="p_text">
					"Use" or "Using" means to view, access, avail services or other benefits from using the Mobile App and / or Website;
				</p>
				<p class="p_text">
					"Services" means the service of access to FinAskus' online technology platform for the purchase, redemption and other transactions of units of mutual funds listed on the FinAskus platform by the Users, on the terms and conditions as mentioned;
				</p>
				<!-- <p class="p_text">
					"BSE" shall mean Bombay Stock Exchange;
				</p> -->
				
				<p class="p_text">
					"AMC" shall mean and include any Asset Management Company listed on the Bombay Stock Exchange, "BSE";
				</p>
				<p class="p_text">
					"RTA" shall mean Registrar and Transfer Agent;
				</p>

			<p class="p_subtitle">Declaration by the Client:
				<span class="p_text">
					By using and signing up for the services offered by FinAskus, you acknowledge and confirm that:
				</span>
			</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								I am 18 years of age or older and where I am acting as Guardian on behalf of a minor, I have the necessary authority to register/sign up for the services on behalf of the minor.
							</span>
						</li>
						<li>
							<span>
								I have understood and agreed to abide by the terms of the Investment Services Agreement below.
							</span>
						</li>
						<li>
							<span>
								I have read and understood the Privacy Policy and Disclaimer published on the Mobile App/Website.
							</span>
						</li>
						<li>
							<span>
								All information provided by me to FinAskus for registration on the Mobile App/Website as well as regarding my investments is true and correct.
							</span>
						</li>
						<li>
							<span>
								FinAskus may contact me by phone and/or by E-mail in connection with my registration.
							</span>
						</li>
						<li>
							<span>
								The entire contents of the Mobile App/Website, including its design and content are the sole property of FinAskus and are protected under Intellectual Property laws. I agree to not copy or distribute any part of the Website without approval.
							</span>
						</li>
						<li>
							<span>
								Only applicable in case of investment by NRIs:
							</span>
							<div class="p_text">
								<ul class="p_inside_text p_ulist">
									<li>
										<span>
											I confirm that the I am Non-Resident of Indian Nationality / Origin and that the funds for additional purchases are remitted from abroad through approved banking channels or from funds in my NRE/ NRO / FCNR account. I am not a resident / incorporated body under the laws of United States of America or Canada.
										</span>
									</li>
									<li>
										<span>
											I understand that I currently cannot subscribe to the services of FinAskus.
										</span>
									</li>
									<li>
										<span>
											All Users in countries other than India understand that by using the service, they may be violating the local laws in such countries. If the User chooses to access the service from outside India, he/she shall be solely responsible for compliance with foreign and local laws as well as solely bear any liability incurred in this regard and will indemnify FinAskus against any liability incurred in any foreign jurisdiction as a consequence of the citizens / residents of countries other than India using the Service. This plan does not constitute an offer to sell or a solicitation to any person in any jurisdiction where it is unlawful to make such an offer or solicitation.
										</span>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<p class="p_subtitle">Investment Services Agreement</p>

				<p class="p_subtitle">A. User Registration and Login Credentials:</p>

				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								The User has applied for an Investment Account after understanding the nature and scope of services ("Services") provided by FinAskus.
							</span>
						</li>
						<li>
							<span>
								The identity of the User on the Mobile App / Website is authenticated by the use of the User's Login Credentials. FinAskus will consider Instructions authenticated by my Login Credentials to have originated from the User.
							</span>
						</li>
						<li>
							<span>
								Access to services of FinAskus is subject to the satisfactory completion of the registration requirements including the submission of all mandatory documents and subsequent verifications.
							</span>
						</li>
						<li>
							<span>
								The registration requirements include provision by the User of (i) a valid and verified email address, (ii) a valid and verified phone number, (iii) accurate personal and investment related details, (iv) PAN card details and a copy of the PAN card, (iv) address proof, (v) photograph, (v) bank account details and a cancelled cheque leaf and (vi) signature.
							</span>
						</li>
						<li>
							<span>
								The above stated information shall be uploaded by the User in soft copy form on the Website / App at the time of enrollment, or be shared with FinAskus or its employees, including any physical attestation as required. Upon completion of such requirements, the information / documents shall be shared with the concerned regulatory authority/AMC / RTA for the purpose of opening an account with FinAskus for the transaction to be made by the User. All information of the User will be protected as per FinAskus' Privacy Policy.
							</span>
						</li>
						<li>
							<span>
								The operation of User's investment account and the execution of Instructions are subject to this Agreement, and the scheme related documents of the respective Asset Management Company ("AMC").
							</span>
						</li>
						<li>
							<span>
								The User retains the right to transact directly with the AMC even in respect of the investments made through FinAskus.
							</span>
						</li>
						<li>
							<span>
								The User's access to FinAskus account may be suspended / cancelled / terminated without liability, in whole or in part, at any time without prior notice, if the User fails to comply with any of these Terms or any modifications thereof.
							</span>
						</li>
						<li>
							<span>
								The User agrees and understands that no change of address, mobile number, e-mail ID and / or bank details can be allowed for such an Investment account, unless a duly signed hard copy of such written request is sent to FinAskus / AMC / RTA / other regulatory bodies for verification and other formalities.
								However, the User can change the login details for mobile number / Email address at any time by using the &#39Settings&#39 on the Mobile App / Website, or by reaching out to FinAskus Support team.					
							</span>
						</li>
					</ul>
				</div>

				<p class="p_subtitle">B. FinAskus' Obligations:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								To offer financial planning assistance along through goal-based planning approach, in line with what is best for the User given his/her personal and financial status and future goals.
							</span>
						</li>
						<li>
							<span>
								To offer and recommend mutual fund schemes selected without any bias towards their commission structure and/or incentives for FinAskus, based solely on quantitative and qualitative research and assessment.
							</span>
						</li>
						<li>
							<span>
								To facilitate subscription and redemption of mutual fund units by transmitting User&#39s Instructions and money to the appropriate AMC, as per the User&#39s Instructions.
							</span>
						</li>
						<li>
							<span>
								Securely and confidentially maintain a record of the User&#39s personal information and his/her financial transactions.
							</span>
						</li>
						<li>
							<span>
								Accurately sharing of the User&#39s transaction records and portfolio performance through periodic investment tracking and update. However, it shall be the obligation of the AMC and not of FinAskus to regularly send to the Users such communications as required under the SEBI Regulations.
							</span>
						</li>
						<li>
							<span>
								Promptly and efficiently responding to the User&#39s queries relating to his / her investment account.
							</span>
						</li>
					</ul>
				</div>


				<p class="p_subtitle">C. User's Obligations:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								To ensure that all information provided by the User are true and accurate.
							</span>
						</li>
						<li>
							<span>
								To ensure that the money invested by the User is from their own bank account (primary holder&#39s bank account in case of Investment Account held jointly), is from legitimate sources and is remitted through approved banking channels.
							</span>
						</li>
						<li>
							<span>
								To keep their Login Credentials safe and secret; promptly change the Login Credentials and inform FinAskus of any actual or suspected unauthorised use of the Login Credentials.
							</span>
						</li>
						<li>
							<span>
								Make an informed investment decision by reading all the scheme related documents and information that he / she chooses to invest in.
							</span>
						</li>
						<li>
							<span>
								Seek independent financial planning, legal, accounting, tax or other professional advice before investing or withdrawing.
							</span>
						</li>
					</ul>
				</div>


				<p class="p_subtitle">D. General Investment Conditions:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								The User has read the "Disclaimer" on FinAskus Mobile App and/or Website and understands that there is no guarantee or promise for any returns on investments made in Mutual Fund scheme(s). Past performance does not indicate the future performance of the schemes and may not necessarily provide a basis of comparison with other investments
							</span>
						</li>
						<li>
							<span>
								The User is aware that FinAskus is an AMFI registered distributor of mutual funds and receives commissions from AMCs.
							</span>
						</li>
						<li>
							<span>
								The User grants authority to FinAskus to process and transmit any request made by him/her through the Mobile App or Website, authenticated by the User&#39s Login credentials, to execute their instructions with regards to purchase / redemption / switch or any other transactions/ activities in respect of mutual funds on their behalf, as may be instructed by them from time to time, on the terms and conditions of use of FinAskus.
							</span>
						</li>
						<li>
							<span>
								FinAskus does not, and is not obliged to, offer all mutual fund schemes for investment. By limiting the number of schemes on the Mobile App/Website, FinAskus does not make any representation as to the quality, bona fides or nature of any AMC or mutual fund scheme, or any other representation, warranty or guaranty, express or implied.
							</span>
						</li>
						<li>
							<span>
								The data and information provided on the Mobile App/Website does not constitute advice and shall not be relied upon by the User while making investment decisions.
							</span>
						</li>
						<li>
							<span>
								For Investment Accounts held jointly, the mutual fund folios maintained by the concerned AMC will also be held jointly and all the individuals will have the same authority to operate those folios (Any or Survivor).
							</span>
						</li>
						<li>
							<span>
								In case the User violates this agreement, or any local or international laws, FinAskus may, at any time and at its sole discretion, terminate the User&#39s Investment Account and/or prevent him / her from accessing the Mobile App/Website and/or using its Services.
							</span>
						</li>
						<li>
							<span>
								FinAskus may modify these terms at any time by informing the User. The User&#39s continued use of the Services will imply his/her acceptance of the changes.
							</span>
						</li>
					</ul>
				</div>


				<p class="p_subtitle">E. FinAskus Charges and Fee Structures:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								Currently FinAskus does not charge the User any fees for its Services, apart from the commissions it receives directly from the AMCs. This is apart from any charges/fees that may be levied by the mutual funds, if any. However, all liabilities and obligations of the Registered Clients hereunder to FinAskus / Mutual Fund / AMCs / Trustees of the AMCs shall be joint and/or several, as the case may be.
							</span>
						</li>
						<li>
							<span>
								FinAskus reserves the right to change its fee structure from current free structure to charging fees in the future for any of its Services. Any such changes will be communicated by FinAskus to the User through email and / or mobile notification, at least 30 days prior to revision, and the User will be given the option to continue with the revised structure or transfer the assets out of his / her Account without incurring any costs payable to FinAskus.
							</span>
						</li>
					</ul>
				</div>

				<p class="p_subtitle">F. Payment Gateway / Online Payment Terms / Bank Mandates:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								The transfer of funds for any purchase / switch of mutual funds units will be done by FinAskus using an Electronic Payment Gateway facility.
								or using an existing NACH Bank Mandate once such a facility is registered.
								
							</span>
						</li>
						<li>
							<span>
									Payment Gateway facility will only be offered through an internet banking facility, through a third party net banking service provider registered with the Reserve Bank of India. User cannot use or permit the use of the payment gateway or any related services for any illegal or other purposes outside the scope of this Agreement.
							</span>
							
						</li>
						
						<li>
							<span>
								Users bear the sole responsibility of using the Electronic Payment Gateway and the risks associated thereof. These risks would include but not be limited to timeouts, mistakes and errors including typos and authentication failures, misuse of passwords or other internet frauds, and the User agrees to indemnify FinAskus against any liability and responsibility for any claims, losses, damages or costs of any nature arising due to such risks.
							</span>
						</li>
						<li>
							<span>
								For investments using NACH/ Direct Debit/Bank Mandate, FinAskus will first submit the fund transfer instruction(s) to the User&#39s bank. Any such request for subscription will be sent to the AMC only after receiving confirmation of successful money transfer to the AMC&#39s account. Consequently, there may be a lag between the date of debit to the User&#39s account and date FinAskus submits the User request to the AMC. Subject to this condition, the User&#39s Instructions may be processed on the next business day. FinAskus may specify cut-off time(s) earlier than the time(s) specified by the AMC/ SEBI.
							</span>
						</li>
						<li>
							<span>
								FinAskus will forward the User&#39s Instructions to the AMC electronically through the payment partner and the online platform provided by a third-party partner (like Bombay Stock Exchange, "BSE" or the National Stock Exchange of India Limited, &#39NSEIL&#39)) and the AMC will process the transactions on the basis of such electronic instructions. AMCs are not obliged to accept the User&#39s application for subscription to units of their mutual fund schemes in part or in full.
							</span>
						</li>
					</ul>
				</div>


				<p class="p_subtitle">G. Indemnification of FinAskus:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								The User agrees to indemnify FinAskus and its authorised representatives, partners, service providers, Mutual Funds, Asset Management Companies and their officers and agents free and harmless at all times, against all monetary and other harm, whether direct or indirect, by reason of using FinAskus&#39 services and/or doing and/or omitting to do anything in accordance with the Terms and Conditions specified herein or any instructions relating to the online dealing in mutual funds through FinAskus.
							</span>
						</li>
						<li>
							<span>
								The User will will not dispute and/or hold FinAskus responsible for any act that is not an obligation of FinAskus in this Agreement, or any disclosures made by FinAskus to any statutory body under any law.
							</span>
						</li>
						<li>
							<span>
								The User will will not dispute and/or hold FinAskus responsible for any loss, notional or otherwise, incurred because of delays either at the Bank, RTA or AMC. rejection of the User&#39s instructions by the Bank, RTA or AMC, processing of Instructions authenticated by the User&#39s Login Credentials non-availability or non-accessibility of the Mobile App/Website, telephone(s), or office(s) of FinAskus in case of circumstances beyond FinAskus reasonable control.
							</span>
						</li>
					</ul>
				</div>

				<p class="p_subtitle">H. Governing laws:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
								This Agreement is governed by the laws of. All disputes are subject, firstly, to mediation, and then by Arbitration by a sole arbitrator appointed by FinAskus. The venue of arbitration will be Bangalore.
							</span>
						</li>
						<li>
							<span>
								In the event of any dispute between the User and FinAskus, the record of transactions maintained by FinAskus would serve as the only source of verification of the accuracy of such claims.
							</span>
						</li>
					</ul>
				</div>
				
				<p class="p_subtitle">I. Commission Structure with AMCs:</p>
				<div class="p_text">
					<ul class="p_inside_text p_ulist">
						<li>
							<span>
						FinAskus is an an AMFI-registered distributor of mutual funds, and earns commissions from Asset Management Companies (AMCs) whose mutual fund schemes are purchased by the user through it&#39s platform.

					</span>
						</li>
						<li>
							<span>
								However, the recommendations on specific schemes is the outcome of an unbiased and scientific research process, and not influenced by the commissions that FinAskus earns from any of these AMCs.
							</span>
						</li>
						
						<li>
							 <span>
							 The following is the list of all AMCs whose schemes FinAskus currently recommends, and the associated commission rates:
							 </span>
						</li>
						<span>
									<img src="{% static 'images/commission_finaskus.png' %}" class="banner_image" />
						<span>
					</ul>
					<strong>
					
					IF YOU DO NOT ACCEPT AND ABIDE BY THESE TERMS, THEN YOU MUST NOT PROCEED FURTHER OR USE THE FINASKUS MOBILE APP / WEBSITE.
					
					</strong>
				
				</div>
				
				

		</div>

		<div class="bottom_container">
			<div class="footer1">
				<div class="blockleft">
					<img src="{% static 'images/footerlogo.png' %}" class="footerlogo" />
					<div>
						<img src="{% static 'images/app_store.png' %}" class="bottom_img" />
						<img src="{% static 'images/google_play.png' %}" class="bottom_img"/>
					</div>
				</div>
				<div class="blockright">
					<p class="subtitle">Contact Details:</p>
					<div class="wrap_add">
						<div class="address">
							<div class="address_icon">
								<img src="{% static 'images/registered_address_icon.png' %}" />
							</div>
							<div class="address_text">
								<span class="contact_subtitle">Registered address:</span>
								<p class="text">C-1002, Mantri Espana</p>
								<p class="text">Kariyamma Agrahara</p>
								<p class="text">Marathalli Outer Ring Road</p>
								<p class="text">Bengaluru 560103</p>
							</div>
						</div>
						<div class="call_email">
							<div class="call_email_row">
								<img src="{% static 'images/call_us_on_icon.png' %}" class="call_email_img" />
								<span class="contact_subtitle">Call us on:</span>
								<span class="text">+91 80 95656777</span>
							</div>
							<div>
								<img src="{% static 'images/email_us_at_icon.png' %}" class="call_email_img" />
									<span class="contact_subtitle">Email us at:</span>
									<span class="text">askus@finaskus.com</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer2">
				<a href="#" class="rights">All Rights Reserved</a>
				<a href="{% static '/terms/' %}" class="terms">Terms & Conditions</a>
				<a href="{% static '/privacy/' %}" class="terms">Privacy Policy</a>
				<a href="{% static '/disclaimer/' %}">Disclaimer</a>
			</div>

			<div class="footer3">
				<p class="footer3_text">
					Finaskus Technologies Pvt Ltd is an AMFI Registered Mutual Fund Advisor (ARMFA) with AMFI Registration No.ARN-108537. It has undertaken to adhere to AMFI guidelines and Norms for Intermediaries (AGNI). Please refer to Terms & Conditions, Privacy Policy and Disclaimer for more details on our policies.
				</p>
			</div>
		</div>
	</body>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79265201-1', 'auto');
  ga('send', 'pageview');

</script>
</html>

