{% extends "admin/change_list.html" %}
{% block object-tools-items %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    window.onload=function() {

        $('.sip_cancellation').click(function() {
            var allElems = $(this).parent().parent().children();
            portfolio_id = allElems[0].innerText;
            // this opens a new window for the download of the private resource.
            window.open("/v3.0/open/sip/cancellation/admin/?portfolio_id="+portfolio_id);
        });

    }
</script>

{{ block.super }}
<li><a href="#">Online users:{{ active_user }} </a></li>
{% endblock %}
