{% extends "admin/change_list.html" %}
{% block object-tools-items %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    window.onload=function(){
    $('.redeem_pipe').click(function(){
    var allElems = $(this).parent().parent().children();
        redeem_id = allElems[1].innerText;
        // this opens a new window for the download of the private resource.
        window.open("/v1.0/open/generate/bse/redeem/pipe/?redeem_id="+redeem_id);
    });
    }


</script>

    {{ block.super }}

    <li><a href="#">Online users:{{ active_user }} </a></li>

    {% endblock %}
