<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img align="left" src="{{ protocol }}://{{ domain }}/static/images/footerlogo.png" height="55" width="225">
<br><br><br>
<br><br><br>
<p align="left">
    Dear {{ old_email }},
    <br><br>
    You're receiving this email because you requested a change in your registered email ID.
    <br>
    Your new registered email ID is {{ new_email }}.
    A verification email has been sent to your new registered email. Please verify the new email ID.
    <br><br>
    Thank you<br>
    FinAskus Support<br><br>
    Email: askus@finaskus.com
    <br><br>
</p>

<hr color="blue">
<br><br>
<table width="100%">
    <tr>
        <td align="center"><a href="https://www.finaskus.com/">Home</a></td>
        <td align="center"><a href="https://www.finaskus.com/terms/">Terms & Conditions</a> </td>
        <td align="center"><a href="https://www.finaskus.com/aboutus">About</a></td>
    </tr>
</table>
<br><br><br>

</body>
</html>