.loader {

        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        background: rgba(0, 0, 0, 0.56);

}
.loader i {

        font-size: 5rem;
        position: relative;
        top: 40%;
        left: 44%;
        z-index: 1000;
        color: #ddd;

}
.fa-spin {

        color: #1D2345;

}
.fa {

        padding: 0 .75rem;
        font-size: 1.6rem;

}
