{% extends "admin/change_list.html" %}
{% block object-tools-items %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script>
        window.onload=function(){
            $('.redeem_pipe').click(function(){
                var allElems = $(this).parent().parent().children();
                group_redeem_id = allElems[2].innerText;
                // this opens a new window for the download of the private resource.
                window.open("/v3.0/open/generate/bse/redeem/pipe/?group_redeem_id="+group_redeem_id);
            });
        }
    </script>
    {{ block.super }}
{% endblock %}
